// статья
.article1
  background-color: $third-color2 // синий фон gray
  //width: 66.6666667%
  flex-shrink: 0
  +media($lg)
    width: 66.6666667%
  +padding-page

.publication
  &__title
    +title-page($main-color)
    padding-bottom: 42px  
  &__photo1
    width: 100%
    margin-bottom: 15px
  &__date // дата публикации
    display: block
    +font(1.33, 12, 700, $second-color2)
    text-align: left
    letter-spacing: 0.01em
    margin-bottom: 15px
  &__introduction
    +font(2.06, 16, 700, $main-color)
  &__text
    +text-paragraph()
  &__cut-in
    @extend .blockquote
.illustration
  margin-top: 30px
  &__image
    width: 100%
  &__signature
    margin-top: 30px
    +font(2.07, 14, 400, $main-color)
    font-style: italic
    text-align: center

// p + blockquote
//   margin-top: 30px