.article-content
  display: flex
  flex-direction: column
  +media($lg)
    display: flex
    flex-direction: row

  &__page-title
    +title-page($main-color)
    padding-bottom: 42px


.articles2
  background-color: $main-color // синий фон darkblue
  +padding-page
  color: $second-color
  &__section-title
    +title-section( 21,$second-color)
    margin-top: 20px
    margin-bottom: 44px

.publication
  p 
    +text-paragraph()

@import ../../components/blockquote

// изменяем цвет текста
.article
  p, &__title
    color: $second-color

.publication__introduction
  +text-paragraph()
  font-weight: 700