//- doctype html(lang='en')
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  block title
    title Frame House Manufactory
  link(rel='shortcut icon', href='favicon.ico')
  block style-link
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,300i,400i,600,600i,700&amp;subset=latin-ext', rel='stylesheet')
    link(href='css/normalize.css', rel='stylesheet', type='text/css') 
    link(href='css/style.css', rel='stylesheet', type='text/css')