extends ../../templates/_template.pug
block title
  title Frame House Manufactory - Testimonials

block header
  include ../../components/_header

block main
  main.testimonials-content
    section.testimonials-content-1
      h2.testimonials-content__page-title Testimonials
      //- блок с отзывом и слайдером
      include ../../components/_testimonials-only
      //- пагинация
      include ../../components/_pagination

    section.testimonials-content-2.testimonials-article2__wrapper
      //- блок со картой
      include ../../pages/transport/_transport-article2

    //- подвал
    //- block footer
    include ../../templates/_footer