//- переход на страницу контактов "Contact us"
.technology-article
  .btn
    +btn()
    +hor-center()
    width: 100%
    +media($md)
      max-width: 232px

.go-to-contact-us
  padding:
    top: 60px
    bottom: 50px

.go-to-all-projects
  .btn
    +btn()
    +hor-center()
    // width: 296px
    +media($md)
      max-width: 232px

//- переход на страницу всех проектов
.go-to-all-projects

  &__content
    position: relative
    // +pict('technology/1-project-photo.jpg')
    +pict2()
    width: 100%
    height: 75vw
    display: flex
    justify-content: center
    align-items: flex-end
    padding-bottom: 18%

// стили кнопок
.btn-1
  +btn-1 // синяя кнопка
.btn-2
  +btn-2 // желтая кнопка