.technology-content
  // +gl0
  +media($lg)
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.technology-person
  // +gl1
  +media($lg)
    width: 50%
    height: initial
    align-self: stretch
    justify-content: flex-start
    padding-top: 60px

.technology-article
  // +gl1
  +media($lg)
    width: 50%
    order: -1

.go-to-contact-us
  // +gl1
  +media($lg)
.go-to-all-projects
  // +gl1
  +media($lg)
    // width: 50%
    width: 100%
    height: #{calc(50vw * 0.7)}

// видимость и не видимость блока на разных разрешениях
.go-to-all-projects--2
  +media($lg)
    display: none

.go-to-all-projects--1
  display: none
  position: relative

  +media($lg)
    display: block
    width: 100%
    height: initial

.go-to-all-projects__content
  height: initial
  padding-top: 60%
  +media($lg)
    margin-top: 108px

.go-to-all-projects--1
  .btn-2
    position: absolute
    margin: auto
    left: 0
    right: 0
    bottom: 20%
