.technology-person
  background-color: $main-color
  height: 100vw
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  +media($lg)
    height: 100%
    padding-top: 220px
    justify-content: flex-start
  +media($xl)
    padding-top: 0
    justify-content: center  
      
  &__photo
    // +gl1
    border-radius: 50%
    height: 120px
    width: 120px
    margin-bottom: 17px
    // +pict('technology/1-big_82911416389045-portret.png')
    +pict2()
    +media($md)
      +kvadrat(252px)
      margin-bottom: 28px
    +media($lg)
      +kvadrat(210px)
      margin-bottom: 22px
    +media($xl)
      +kvadrat(312px)
      margin-bottom: 26px
    +media($xxl)
      +kvadrat(490px)
      margin-bottom: 30px

  &__name
    // +gl0
    text-align: center
    max-width: 90%
    +font(100%, $font-size, 600, #ffffff)
    +media($md)