section.contacts1-2
  //- контакты contacts1
  section.contacts1
    h2.page-title Contact Us
    p It would be ou pleasure to answer all your questions and to provide you all the neccessary information.<br>Be sure, we will find a solution for your dream house!
    a.contacts1__contact(href='tel:+37122080494') 
      .contacts1__contact1 Phone: 
      .contacts1__contact2(+371) 2208 04 94
    a.contacts1__contact(href="mailto:info@prefabhom.eu")
      .contacts1__contact1 Email:
      .contacts1__contact2 info@prefabhome.eu

    //- карта на странице Contacts
    // ========= блок с картой ==========//
  section.contacts2.contacts2__wrapper
    .contacts2__map
    //- блок со картой
    include ../../pages/transport/_transport-article2