//- форма на странице contacts
section.contacts3
  h4.contacts3__title Feedbacks
  p Dear friends, <br>Frame House daily works on the company and management work quality improvement. We will extremely appreciate if you could share your feedback with us.
  form.contacts-form(action="" name="contacts" metod="POST" target="" enctype="multipart/form-data")
    .contacts3-form__title In order to leave your feedback, please fill out the form below:

    .contacts-form__block
      .contacts-form__block1
        input#name.form__field(type="text", name="name", requared="true", placeholder="Your Name")
        input#surname.form__field(type="text", name="surname", requared="", placeholder="Your Surname")
        input#companyname.form__field(type="text", name="companyname", requared="", placeholder="Company Name")

      .contacts-form__block2
        input#email.form__field(type="email", name="email", requared="true", placeholder="Email")
        input#yourmanager.form__field(type="text", name="yourmanager", requared="true", placeholder="Name of manager you are working with")
        .switcher
          .switcher__text Are you already our client?
          //- переключатель
          label.switch
            input#switcher.switch-input(type="checkbox" name="")
            span.switch-label(data-on="Yes" data-off="No")
            span.switch-handle

    //- поле текста отзыва
    textarea#feedback.textarea(name="feedback", placeholder="Your feedback")
    input.btn-form(type="submit", value="send feedback")