extends ../../templates/_template.pug
block title
  title Frame House Manufactory - Сontacts

block header
  include ../../components/_header

block main
  main.contacts-content
    //- блок с контактами и картой
    include ../../pages/contacts/_contacts1
    //- блок с формой
    include ../../pages/contacts/_contacts3

  //- подвал
  include ../../templates/_footer