//- форма на странице customer-projects1
section.customer-projects2
  form.customer-projects-form(action="" name="customer-projects" metod="POST" target="" enctype="multipart/form-data")
    .form__text To order individual project, please fill form below. 
    .form__title Customer information:
    input#name.form__field(type="text", name="name", requared="true", placeholder="Your Name")
    input#surname.form__field(type="text", name="surname", requared="", placeholder="Your Surname")
    input#email.form__field(type="email", name="email", requared="true", placeholder="Email")
    input#telnumber.form__field(type="tel", name="telnumber", requared="", placeholder="Phone number")
    .select-country-container
      select#select-country.form__field(name="select-country")
        option.option-first(value="") Select Country
        option(value="France") France
        option(value="Italy") Italy
        option(value="Norvey") Norvey
        option(value="Sweden") Sweden
    .form__title Customer information:
    //- загрузка файла
    .upload-file-container
      label(for="file")
        span.upload-file__text Attach your architectural drawings in DWG or PDF
        mark No file selected
        input#file.form__field.form__btn-uploab-file(type="file", name="file")
        
    textarea#comments.textarea(name="comments", placeholder="Your comments")
    input.btn-form(type="submit", value="send offer")
