//- статья на странице customer-projects1
section.customer-projects1
  h2.page-title_customer-projects Customer Projects
  article.customer-projects1-content
    h3.title-paragraph How to use this form?
    p Please, fill in the Form with the details we ask you to provide. Please, attach your architectural drawings in DWG or PDF with all measurements. 
    p.text-paragraph--2 Our manager would contact you within 3 days with approx. price offer <span class="upper">for free<span>!
    p After you would be satisfied with approx.  price offer on your house project, you would be able to order exact price offer with all options and additions our company can provide for your house. This would take 3-5 days and we would charge you <span class="upper">300 eur refundable<span> deposit.
    p.text-paragraph--2 Moreover we would prepare you <span class="upper">3d<span>  drawings <span class="upper">for free<span>!
    p In case you would not like the price, you would be able to refund the deposit within 1 month from price quotation issue date.
    p But usually we surprise our customer with very adequate prices on a very high quality!