extends ../../templates/_template.pug
block title
  title Frame House Manufactory - Customer Projects

block header
  include ../../components/_header

block main
  main.customer-projects-content
    //- блок со статьей
    include ../../pages/customer-projects/_customer-projects1
    //- блок с формой
    include ../../pages/customer-projects/_customer-projects2
    //- блок с фоновой картинкой
    include ../../pages/customer-projects/_customer-projects3

  //- подвал
  include ../../templates/_footer