//- первая секция have-you
section.have-you
  .have-you-project.have-you-project__yes(style='background-image: url("img/main/have-project.jpg")')
    .promo
      h1.title-promo Have a project?
      //- синяя кнопка
      a.btn.btn-1.btn-1section(href="/") Order individual project

  .have-you-project.have-you-project__not(style='background-image: url("img/main/have-not-project.jpg")')
    .promo
      h1.title-promo.title-promo--2 Don`t have a project?
      //- жёлтая кнопка
      a.btn.btn-2.btn-1section(href="/") Select from catalog
    //- стикер «проекты от 148 евро»
    .sticker
      span.sticker__text from<br>148 €/m<sup>2</sup>