//- секция Read about low-energy
section.main-low-energy(style='background-image: url("img/low-energy/low-energy.png")')
  .main-low-energy__promo
    h1.low-title.
      Do you want to build environmentally friendly and energy efficient house?
    
    //- кнопка перехода на страницу "low-energy"
    a.btn.btn-1.btn-low-energy-section(href="low-energy.html") Read about low-energy