//- секция testimonials Отзывы
section.main-testimonials(style='background-image: url("img/testimonials/map-600.jpg")')

  H2.title-section Testimonials

  article
      
    include ../../components/_testimonials-only

    //- ========= Слайдер фотографий публикации отзыва ==========
    //- include ../../components/_slider.pug

  //- кнопка перехода на страницу "testimonials" Отзывы
  a.btn.btn-2.btn-testimonials-section(href="testimonials.html") View all testimonials