//- секция проектов на главной странице
section.main-projects
  //- название секции
  H2.title-section Frame house projects
  block main-projects
    .main-projects-container
      include ../../components/_project-card.pug
      +project-card('ITALIA R.C. 70', '576', '73900')(style='background-image: url("img/projects/1-ITALIA R.C. 70.jpg")')
      +project-card('ITALIA O.M. 056', '158', '23500')(style='background-image: url("img/projects/2-ItaliaOM.jpg")')
      +project-card('ITALIA F.F.', '172', '22700')(style='background-image: url("img/projects/3-ITALIA-FF.jpg")')
      +project-card('VILLA ALHENA', '260', '34400')(style='background-image: url("img/projects/4-VILLA ALHENA.jpg")')
      +project-card('VILLA PROPUS', '190', '34400')(style='background-image: url("img/projects/5-VILLA PROPUS.jpg")')
      +project-card('ITALIA S.F.', '190', '26000')(style='background-image: url("img/projects/6-ItaliaSF.jpg")')
      +project-card('VILLA ANTARES', '268', '33350')(style='background-image: url("img/projects/7-VILLA ANTARES.jpg")')
      +project-card('VILLA SCEPTRUM', '184', '27420')(style='background-image: url("img/projects/8-VILLA SCEPTRUM.jpg")')
      +project-card('ITALIA R.C. 70', '576', '73900')(style='background-image: url("img/projects/1-ITALIA R.C. 70.jpg")')
    //- кнопка (жёлтая) перехода на страницу всех проектов 
    a.btn.btn-2(href="projects.html") View all projects