// карточка статьи
.article-card
  margin-bottom: 40px
  &:last-child
    margin-bottom: 0
  +media($xxl)
    display: flex

.article
  &__container-photo
    order: 2
    margin-left: auto
    margin-bottom: 15px
  &__photo // img фото статьи
    width: 100%
    +media($xl)
      width: 242px
    +media($xxl)
      width: 270px

  &__content
    +media($xl)
      padding-right: 35px
    +media($xxl)
      padding-right: 50px
  &__date // дата публикации
    display: block
    +font(1.33, 12, 700, $second-color2)
    text-align: left
    letter-spacing: 0.01em
    margin-bottom: 15px
  &__title // заголовок статьи
    +font(1.38, 24, 600, $main-color)
    text-align: left
  &__text // текст статьи
    +text-paragraph