//  стиль врезки
.blockquote
  width: 100%
  padding-left: 6px

  p
    padding-left: 31px
    position: relative
    +font-bq()
    border-left: 
      color: $second-color2
      width: 10px
      style: solid