// стили кнопки
=btn()
  display: block
  font:
    size: 14 + 0px
    weight: 700
  text-transform: uppercase
  $padding-l-r: 14
  padding:
    top: $padding-l-r + 0px
    bottom: $padding-l-r + 0px
    left: ($padding-l-r * 2) + 0px
    right: ($padding-l-r * 2) + 0px
  border-radius: 2px
  text-align: center
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12)
  transition: all 0.3s ease
  cursor: pointer
  &:hover
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12)
    transition: all 0.3s ease
  @media screen and (min-width: 450px)
    // width: 232px
  @media screen and (min-width: 850px)
    // +media($md)
    padding: 
      left: 0
      right: 0
    width: 232px
    padding: 
      top: 10px
      bottom: 10px
    font-size: 13px


// стиль жёлтой кнопки yellow
=btn-2
  color: $main-color
  background-color: $second-color

//  стиль синей кнопки
=btn-1
  color: $color-blue-trnsp-1
  background-color: $main-color

=btn-n($margin, $bgr-color)
  background-color: $bgr-color
  @if $bgr-color == $second-color // желтый, цвет кнопки yellow
    color: $main-color // синий цвет надписи кнопки blue
  @if $bgr-color == $main-color // синий, цвет кнопки blue
    color: $color-blue-trnsp-1 // белый, надпись кнопки white
  display: block
  font:
    size: $font-size + 0px
    weight: 700
  text-transform: uppercase
  $padding-l-r: $font-size
  padding:
    top: $padding-l-r + 0px
    bottom: $padding-l-r + 0px
    left: ($padding-l-r * 2) + 0px
    right: ($padding-l-r) * 2 + 0px
  border:
    radius: 2px
    width: 1px
    style: solid
    image: -moz-linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1
    image: linear-gradient(-90deg, transparent 65%, rgba(0, 0, 0, 0.06) 100%) 1
  text-align: center
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12)
  transition: all 0.3s ease
  cursor: pointer
  margin:
    right: $margin
    left: $margin
  @content
  &:hover
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12)
    transition: all 0.3s ease
  @media screen and (min-width: 450px)
    width: 242px
  @media screen and (min-width: 850px)
    padding: 
      left: 0
      right: 0
    width: 232px
    padding: 
      top: 10px
      bottom: 10px
    font-size: 13px
