// карточка проекта
.project-card
  // +gl0
  position: relative
  height: #{calc(100vw / 1.43)}
  border-radius: 2px
  margin-bottom: 12px
  display: flex
  flex-direction: column
  +media($md) // 600
    margin-bottom: 26px
    height: 180px
    width: 255px
  +media($lg) // 1024
    margin-bottom: 30px
    // width: #{calc(50% - 15px)}
  +media($xl) // 1280
    margin-bottom: 32px
    // width: #{calc(25% - 24px)}
    // height: 20vh
    // height: 280px
  +media($xxl) // 1920
    margin-bottom: 50px
    // width: #{calc(25% - 38px)}
    // height: 40vh
    // height: 280px


.project
  // фотография проекта
  &__photo
    // +gl1
    position: absolute
    top: 0
    width: 100%
    padding-top: 70%
    +pict2
    +media($md)
      padding-top: 68%
    // 1024
    +media($lg)
      padding-top: 56%

  // Название стоимость и площадь проекта
  &__footer
    // +gl2
    z-index: 1
    margin-top: auto
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 3.4%
    padding-bottom: 3.2%
    background-color: #ffffff
    +media($md)
      padding-top: 4.5%
      padding-bottom: 5%
    +media($lg)
      padding-top: 5.6%
      padding-bottom: 6%
    +media($xl)
      padding-top: 8%
      padding-bottom: 7%
    +media($xxl)
      padding-top: 9%
      padding-bottom: 10%

  &__data // площадь проекта
    // +gl3
    @media screen and (max-width: 300px)
      margin-right: 2.2%
    margin-right: 6.0%
    +font(100%, 16, 400, $font-color)
    text-align: right
    +media($md)
      font-size: 14px
      // font-size: 16px
    +media($lg)
    +media($xl)
      // font-size: 14px
    +media($xxl)
      font-size: 16px
  &__cost // стоимость проекта
    +font(100%, 16, 600, $font-color)
    +media($md)
      font-size: 14px
    +media($lg)
      // font-size: 16px
    +media($xl)
      // font-size: 14px
    +media($xxl)
      font-size: 16px
  &__name // название проекта
    @extend .project__cost
    @media screen and (max-width: 300px)
      margin-left: 2.2%
    margin-left: 5.45%

// фотографии проектов
// .photo-project
//   &-1
//     +pict("projects/1-ITALIA R.C. 70.jpg")
//   &-2
//     +pict("projects/2-ItaliaOM.jpg")
//   &-3
//     +pict("projects/3-ITALIA-FF.jpg")
//   &-4
//     +pict("projects/4-VILLA ALHENA.jpg")
//   &-5
//     +pict("projects/5-VILLA PROPUS.jpg")
//   &-6
//     +pict("projects/6-ItaliaSF.jpg")
//   &-7
//     +pict("projects/7-VILLA ANTARES.jpg")
//   &-8
//     +pict("projects/8-VILLA SCEPTRUM.jpg")

// фотографии проектов
.photo-project
  +bg
  &-1
    // ('background-image: url("img/projects/1-ITALIA R.C. 70.jpg")')
    +bg
  &-2
    +pict("projects/2-ItaliaOM.jpg")
    +bg
  &-3
    +pict("projects/3-ITALIA-FF.jpg")
    +bg
  &-4
    +pict("projects/4-VILLA ALHENA.jpg")
    +bg
  &-5
    +pict("projects/5-VILLA PROPUS.jpg")
    +bg
  &-6
    +pict("projects/6-ItaliaSF.jpg")
    +bg
  &-7
    +pict("projects/7-VILLA ANTARES.jpg")
    +bg
  &-8
    +pict("projects/8-VILLA SCEPTRUM.jpg")
    +bg
    // (style='background-image: url("img/low-energy/low-energy.png")')