//======верстка на flexbox с абсолютным центрированием========//
.footer
  position: relative
  background-color: $main-color
  +padding-global(18px 26px 20px)
  border-top: 1px solid $third-color3
  display: flex
  flex-direction: column
  align-items: center
  +media($md)
    flex-direction: row
    // justify-content: space-between
  +media($lg)
    +padding-global(18px 46px 20px)

// копирайт
.copy-right
  // +gl2
  text-align: center
  +text-paragraph
  margin: 0
  color: #ffffff
  order: 2
  margin-top: 18px
  +media($md)
    margin-top: 0
    text-align: left
    order: 0
    margin-right: auto

// facebook
.fb-block
  // +gl0
  +media($md)
    display: flex
    align-items: center
    position: absolute
    top: 0
    bottom: 0
    left: 50%
    transform: translate(-50%, 0)

  &__container
    +media($md)
      display: flex

  &__text
    // +gl1
    +text-paragraph
    margin: 0
    color: #ffffff
  &__link //ссылка на страницу в facebook
    // +gl2
    margin-top: 6px
    +media($md)
      margin: 0
      margin-left: 16px
  


// =========верстка на таблице==========//
//  
// .footer
//   background-color: $main-color
//   +padding-global(18px 0 20px)
//   border-top: 1px solid $third-color3
//   display: flex
//   flex-direction: column
//   align-items: center
//   +media($md)
//     display: table
//     width: 100%

// // копирайт
// .copy-right
//   // +gl2
//   text-align: center
//   @extend .text-paragraph
//   color: #ffffff
//   order: 2
//   margin-top: 18px
//   +media($md)
//     margin-top: 0
//     display: table-cell
//     text-align: left
//     width: 100 / 3 + 0%

// .fb-block
//   // +gl0
//   +media($md)
//     display: table-cell
//     width: 100 / 3 + 0%

//   &__container
//     +media($md)
//       display: flex
//   // text-align: center
//   &__text
//     // +gl1
//     @extend .text-paragraph
//     color: #ffffff
//   &__link //ссылка на страницу в facebook
//     // +gl2
//     margin-top: 6px

//     +media($md)
//       margin: 0
//       margin-left: 16px

// // пустая ячейка для выравнивания
// .free-space
//     +media($md)
//     display: table-cell
//     width: 100 / 3 + 0%
// //  верстка на таблице
// .footer
//   background-color: $main-color
//   +padding-global(18px 0 20px)
//   border-top: 1px solid $third-color3
//   display: flex
//   flex-direction: column
//   align-items: center
//   +media($md)
//     display: table
//     width: 100%

// // копирайт
// .copy-right
//   // +gl2
//   text-align: center
//   @extend .text-paragraph
//   color: #ffffff
//   order: 2
//   margin-top: 18px
//   +media($md)
//     margin-top: 0
//     display: table-cell
//     text-align: left
//     width: 100 / 3 + 0%

// .fb-block
//   // +gl0
//   +media($md)
//     display: table-cell
//     width: 100 / 3 + 0%

//   &__container
//     +media($md)
//       display: flex
//   // text-align: center
//   &__text
//     // +gl1
//     @extend .text-paragraph
//     color: #ffffff
//   &__link //ссылка на страницу в facebook
//     // +gl2
//     margin-top: 6px

//     +media($md)
//       margin: 0
//       margin-left: 16px

// // пустая ячейка для выравнивания
// .free-space
//     +media($md)
//     display: table-cell
//     width: 100 / 3 + 0%