// header-top
$top-height: 64px
.top
  position: relative
  display: flex
  justify-content: space-between
  align-items: flex-start
  z-index: 200

  height: $top-height
  width: 100%
  background-color: $main-color
  border-top:
    style: solid
    width: 1px
    color: $third-color3
  border-bottom:
    style: solid
    width: 1px
    color: $third-color3
  +media($lg)
    padding-left: 17px

  // название фирмы
  &__firm
    align-self: center
    transition: all 0.2s ease
    +font(100%, 14, 400, $third-color1)
    display: none
    +media($lg)
      display: block
    &:hover
      color: $second-color
      transition: all 0.2s ease

.top-contact
  margin-left: 22px
  align-self: center
  +media($lg)
    margin-left: 0
    position: absolute
    top: 0
    bottom: 0
    left: 50%
    transform: translate(-50%, 0)

  display: flex
  align-items: center
  justify-content: flex-start
  flex-wrap: wrap

  &__tel
    +font(100%, 14, 400, $third-color1)
    transition: all 0.2s ease
    @media screen and (min-width: 280px)
      margin-right: 22px
    +media($md)
      margin-right: 26px
    &:hover
      color: $second-color
      transition: all 0.2s ease
  &__mail
    @extend .top-contact__tel
    margin-right: 0
    // +media()
    @media screen and (max-width: 425px)
      margin-top: 5px


// персональный кабинет
.top-cabinet
  order: -1
  height: 100%
  width: $top-height
  min-width: $top-height
  border-right:
    style: solid
    width: 1px
    color: $third-color3
  display: flex
  justify-content: center
  align-items: center
  +media($md)
    order: initial
    margin-left: auto
    border-left:
      style: solid
      width: 1px
      color: $third-color3
  svg
    fill: #ffffff
    transform: rotate(45deg)
    transition: all 0.3s ease
  &:hover svg
    fill: $second-color
    transform: rotate(0deg)
    transition: all 0.3s ease
  &:active svg

// выбор языка сайта
.top-lang
  position: relative
  //display: flex
  //justify-content: center
  margin-left: -1px
  width: $top-height
  height: 63px
  overflow: hidden
  border-left:
    style: solid
    width: 1px
    color: $third-color3
  transition: all 0.2s ease

  // стили большой стрелки
  &::before
    content: ""
    position: absolute
    bottom: -1px
    left: 50%
    transform: translateX(-50%)
    display: block
    width: 0
    height: 0
    border:
      style: solid
      width: 0 14px 12px 14px
      color: transparent transparent #ffffff transparent
    transition: all 0.2s ease
  &:hover::before
    border:
      width: 0 30px 0 30px
    transition: all 0.2s ease

  &__open
    height: auto
    min-height: 63px
    border-bottom:
      style: solid
      width: 1px
      color: $third-color3
    &::before
      border:
        width: 0 30px 0 30px

.lang
  display: block
  height: 64px
  width: $top-height
  +font($top-height, 14, 700, #ffffff)
  transition: all 0.2s ease
  background-color: $main-color
  &__active
    //background-color: transparent
  text:
    align: center
    transform: uppercase
  &:hover
    color: $second-color
    transition: all 0.2s ease


// стили маленькой стрелки
#arrow-down
  fill: #ffffff
.top-lang:hover #arrow-down
  fill: $second-color