.menu
  // +gl0
  position: relative
  display: flex
  align-items: center
  // для мобильного варианта
  justify-content: space-between
  background-color: #ffffff
  padding-left: 8px
  height: 64px
  +media($lg)
    // для десктопного варианта
    justify-content: flex-start

.logo
  // +gl3
  padding-right: 15px
  +media($xl)
    padding-right: 40px

//- меню для мобильника
.menu-mobile
  cursor: pointer
  width: 64px
  height: 64px
  display: flex
  transition: all 0.3s ease
  // display: none // временно скрываем иконку

  +media($lg)
    display: none

  &:hover .burger-icon__line
    background-color: $second-color2
    transition: all 0.3s ease

  &:hover .burger-icon__line4
    transform: rotate(30deg)
  &:hover .burger-icon__line5
    transform: rotate(-30deg)

.menu-mobile__nav

// кнопка-бургер открытия мобильного меню
.burger-icon
  margin: auto
  &__line
    width: 28px
    height: 5px
    background-color: $main-color
    transition: all 0.3s ease
    border-radius: 1px

  &__line1
  &__line2
    // расстояние между линиями бургера
    margin-top: 4px
  &__line3
    margin-top: 4px

// кнопка закрытия мобильного меню
.burger-icon-close
  // +gl1
  display: none
  margin: auto
  position: relative

.burger-icon
  &__line
  &__line4
    transform: rotate(45deg)
    top: 0
    bottom: 0
    left: 0
    right: 0
  &__line5
    transform: rotate(-45deg)
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

.overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  opacity: 0
  visibility: hidden
  pointer-events: none
  background-color: rgba($main-color, 0.8)
  z-index: 500
  &-mobileOpen
    opacity: 1
    visibility: visible
    pointer-events: auto
  +media($lg)
    opacity: 0
    visibility: hidden
    pointer-events: none

//- пункты меню
.nav
  // +gl1
  //display: none
  position: fixed
  right: 0
  top: 0
  height: 100%
  background-color: #fff
  transition-duration: 0.2s
  transform: translateX(100%)
  z-index: 501

  &__back
    position: absolute
    right: 100%
    font-size: 20px
    height: 50px
    width: 50px
    margin: 20px
    background-color: #fff
    border-radius: 50%
    cursor: pointer
    transition-duration: 0.2s
    opacity: 0
    visibility: hidden
    &:before, &:after
      content: ''
      display: block
      height: 2px
      border-radius: 1px
      width: 20px
      top: 24px
      left: 14px
      position: absolute
      background-color: $main-color
      transform-origin: right center
    &:before
      transform: rotate(40deg)
    &:after
      transform: rotate(-40deg)

  &-mobileOpen
    transform: none
    .nav
      &__back
        opacity: 1
        visibility: visible

  &__container
    height: 100%
    overflow: auto

  @media screen and (min-width: 425px)
    width: initial

  +media($lg)
    // +gl2
    transform: none
    position: initial
    text-align: center
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-start
    background-color: #ffffff
    z-index: auto
  //- пункты меню на десктопе
  &__item
    // +gl3
    position: relative
    display: block
    // width: 100%
    width: initial
    +font(64px, 13, 400, $main-color)
    text:
      transform: uppercase
      align: center
    +media($lg)
      display: inline-block
      +font(64px, 11, 400, $main-color)
    +media($xl)
      +font(64px, 13, 400, $main-color)

    &::before, &::after
      content: attr(page)
      text-decoration: inherit

    &::before
      // +gl4
      display: block
      font-weight: 600
      visibility: hidden
      line-height: (64 - 6) + 0px
      border-bottom:
        style: solid
        width: 3px
        color: $main-color
      border-top:
        style: solid
        width: 3px
        color: transparent
      padding:
        left: 16px
        right: 16px
      +media($lg)
        padding:
          left: 7px
          right: 7px
      +media($xl)
        padding:
          left: 9px
          right: 9px

    &::after
      // +gl4
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0

    &:hover::before
      visibility: visible
    // transition: all 0.3s ease

    &:hover::after
      display: none
      transition: all 1s ease

  &__item--active
    // активное меню
       display: block
       font-weight: 600
       visibility: hidden
       line-height: (64 - 6) + px
       border-bottom:
         style: solid
         width: 3px
         color: $main-color
       border-top:
         style: solid
         width: 3px
         color: transparent
         display: block
         font-weight: 600
         visibility: hidden
         line-height: (64 - 6) + 0px
         border-bottom:
           style: solid
           width: 3px
           color: $main-color
         border-top:
           style: solid
           width: 3px
           color: transparent
