//- пагинация
.pagination
  display: flex
  justify-content: space-between
  align-items: center
  // отступ перед блоком пагинации
  margin-top: 78px

// контейнер для номеров страниц
.pg__container
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  padding: 0 20px

//- переход стрелкой
.pg-arrow
  +media($md)
    display: none
.arrleft
  // цвет стрелки
  fill: $second-color
  transition: all 0.3s ease
  &--active,
  // меняем цвет стрелки при наведении
  &:hover
    fill: $main-color
    transition: all 0.3s ease
// левая стрелка    
.pg-arrow-l
// правая стрелка
.pg-arrow-r 
  svg
    // svg стрелка повёрнутая
    transform: rotate(180deg)

//- переход кнопкой
.pg-btn
  // кнопка
  +btn-n(0, $second-color)
    width: 96px
  padding:
    left: 0
    right: 0
  font-size: 13px
  display: none
  @media screen and (min-width: 450px)
    width: 96px
  +media($md)
    display: block
  +media($xl)
    width: 130px
  +media($xxl)
    width: 232px
  &--active,
  &:hover
    +btn-n(0, $main-color)
    padding:
      left: 0
      right: 0
    font-size: 13px
    @media screen and (min-width: 450px)
      width: 96px
    +media($xl)
      width: 130px
    +media($xxl)
      width: 232px

.pg
  display: block
  width: 30px
  height: 30px
  padding-top: 2px
  color: $main-color
  font:
    weight: 700
    size: 1.29rem
  text-align: center
  transition: all 0.3s ease
  &:hover:not(.pg--active)
    background-color: $second-color
    transition: all 0.3s ease
  &--active
    color: $second-color
    cursor: default