

.pureText
  p
    +text-paragraph()
  >p
    &:first-of-type
      font-weight: 600
  h3
    +title-paragraph($font-color)
    text-align: left
    +media($md)
      // название параграфа по середине
      +title-paragraph($font-color)
  blockquote
    width: 100%
    padding-left: 6px
    p
      padding-left: 31px
      position: relative
      +font-bq()
      border-left:
        color: $second-color2
        width: 10px
        style: solid
  figure
    width: 100%
    margin-top: 30px
    img
      width: 100%
      height: auto
      margin-bottom: 30px
    figcaption
      +font(2.07, 14, 400, $main-color)
      font-style: italic
      text-align: center
  &__goldenP
    +text-paragraph()
    color: $color-yellow-light
    p
      color: $color-yellow-light
      &:last-child
        margin-bottom: 0
  &-gold
    color: $second-color
    p
      color: $second-color
  &-darkBg
    color: #fff
    p
      color: #fff
  &-noFirst
    >p
      &:first-of-type
        font-weight: normal
