// Слайдер фотографий публикации отзыва
.slider-container
  // +gl0
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 100%
  position: relative

//========Стрелка Слайдера публикации отзыва========//
// общий контейнер стрелок
.slider-arrow-container
  // +gl0
  position: absolute
  top: 0
  bottom: 0
  display: flex
  align-items: center

  // общий контейнер стрелок левый и правый  
  &--left
    padding-right: 7px

    left: -32px // смещаем кружок со стрелкой
    +media($md)
      left: -46px 
    +media($lg)
      left: -65px 
  &--right
    right: -32px // смещаем кружок со стрелкой
    +media($md)
      right: -46px
    +media($lg)
      right: -65px

  // круглый контейнер стрелок
  &__box
    // +gl1
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    background: 
      color: #ffffff
    border: 
      radius: 50%
      color: $third-color2
      width: 5px
      style: solid
    cursor: pointer

    .arrleft
      // цвет стрелки
      fill: $second-color
    // меняем цвет стрелки при наведении
    &:hover 
      .arrleft
        fill: $main-color
        transition: all 0.3s ease

    // круглый контейнер стрелок левый и правый    
    &--left
      padding-right: 5px
    &--right
      padding-left: 5px
      svg
        // стрелка повёрнутая
        transform: rotate(180deg)

.slider-arrow
.arrow--left

// ========контейнер для фото слайдера========//
.slider-content
  // +gl2
  height: 150px
  display: flex
  justify-content: flex-start
  overflow: hidden
  .slick-list, .slick-track
    height: 100%
  // смещаем правую границу контейнера с фото
  +media($md)
    margin-right: -21px
  +media($lg) // 1024
    margin-right: -41px
// фотографии слайдера
.slider
  &__pict
    // +gl4
    height: 100%
    padding-right: 10px
    &:last-child
      padding-right: 0
