//- статья на странице Technology
section.about-us-article
  h2.page-title About us
  article.about-us-article__content
    p <b>Frame House SIA</b> is Latvian company engaged in manufacturing the Prefabricated Wooden Frame Houses since year 2005.
    p <strong>The German technology and German equipment we use, allows us to provide Wooden frame constructions with industrial accuracy and of highest quality. The product we made — is an excellent basis for the <a href="low-energy.html">low energy</a> houses (up to passive standard), which became essential for the European building reality.</strong>
    p The technology we use allows us to manufacture the wooden frame house construction for an individual project of our client. For the customers who don’t have their own project we offer wide range of options: project made by your local architect, projects already build by a customer from your country.
    blockquo.blockquote
      p Moreover, the experienced team of our high educated technicians, engineers and designers could adopt a project made for traditional building (brick, concrete, etc.) for the wooden frame technology. 
    p We are able to make all necessary loads and stress calculations for our constructions, in strict accordance with European requirements (DIN1052.2004).
    p We are especially focused on the pre-manufacturing process, to be able to discuss all the details, to make sure our customers would receive exactly what they want.
    p <strong>Our mission is to assist our customer with converting the project of his dream-house into the modern, energy efficient, ecology building of highest quality, which would be a family nest for many generations.</strong>
    
  //- ссылка на страницу контактов
  include ../../components/_btn-go-to-contact