extends ../../templates/_template.pug
block title
  title Frame House Manufactory - About Us

block header
  include ../../components/_header

block main
  main.about-us-content

    //- блок с фото автора статьи
    include ../../pages/about-us/_about-us-person
    //- невидимый блок ссылка на страницу проектов не видна до 1024, появляется на 1024 about-us-go-to-projects
    //- статья
    include ../../pages/about-us/_about-us-article

    //- //- ссылка на страницу контактов
    //- include ../../pages/about-us/_about-us-go-to-projects2

//- подвал
block footer
  include ../../templates/_footer