//- статья на странице montage
article.montage-article
  h2.page-title Montage
  article.montage-content
    h3.title-paragraph When will you be able to enjoy all the advantages of our house?
    p When you start living there, of course. But at the stage of montage already – construction's forethought and perfect precision, joint safety, assembly simplicity and easiness would prove the highest quality of the product.
    p We know how important it is to think out all the details without exceptions. We are well aware that the time and efforts spent by us while designing and manufacturing will reward multiply by saving your time and your efforts during montage. For this reason already at the stage of designing we divide even the most complicated project into simple elements with the minimum of safe and proven joints in between
    p We have thought over every little detail – all the attaching holes are defined precisely in the program at the primary stage, and then drilled with the perfect precision by our CNC machinery. The same refers to other types of joints, such as bird's beak, scarf joint or skew notch for the roof rafter system. It is impossible to fail the assembly of our house.And of course, you won't need to interrupt the work and rush for the quest of details or fastening elements – everything comes in the set.
    p Montage manual with detailed technical description of the most frequently used joints is available here.
    blockquote.blockquote
      p This approach helps to minimize the assemblage time to 2-4 days, depending on complicatedness of the project. To assemble a two-storey house 200-250 m2 in area you will need 3-4 people and a crane.
    p It is utterly important that the montage can be performed by people who master only basic skills in work with the most common instruments. The list of necessary instruments is available here.
    p Furthermore, if you still have questions or something has left unclear, you always can rely on our comprehensive help. So don't fear for anything and grasp the nettle! There is nothing complicated in montage – we have already done the most difficult part for you!

  //- ссылки на страницу контактов
  include ../../components/_btn-go-to-contact