//- блок с видео
article.montage-video
  figure.montage-video__container
    .montage-video__video
      <iframe width="560" height="315" src="https://www.youtube.com/embed/5De_uW0gdSE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    figcaption.montage-video__text Project Villino Kuma 250 m<sup>2</sup>.<br>Assemblage time to 3 days.<br>4 people and a crane.
