extends ../../templates/_template.pug
block title
  title Frame House Manufactory - Montage

block header
  include ../../components/_header

block main
  main.montage
    section.montage-content-1
      //- блок со статьей
      include ../../pages/montage/_montage-article
    section.montage-content-2
      //- блок со картой
      include ../../pages/montage/_montage-video

//- //- подвал
block footer
  include ../../templates/_footer