.montage
  display: flex
  flex-direction: column
  +media($lg)
    flex-direction: row
//- статья на странице montage
.montage-content-1
  +media($lg)
    width: 50%
  
.montage-article
  +padding-page
.montage-content-1
  background-color: $third-color2
// кнопка
.montage-content-1
  .go-to-all-contact
    margin-top: 60px
.btn
.btn-1
  +btn-1

.montage-content
  p
    +text-paragraph()

//- блок с видео
.montage-content-2
  @extend .montage-content-1
.montage-video
  min-height: 100%
  +padding-page
  +media($lg)
    padding-top: 240px

  background-color: $main-color
  &__container
    +hor-center()
    
  &__video
    position: relative
    padding-top: 9 / 16 * 100 + 0%

    iframe
      +hor-center()
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  &__text
    +font(2.07, 14, 700, #ffffff)
    text-align: center
    +hor-center()
    margin-top: 2.86em