// ========== layout ========//
.main-container
  display: flex
  flex-direction: column

.testimonials-content
  flex-grow: 1

  display: flex
  flex-direction: column
  align-items: stretch
  +media($lg)
    flex-wrap: wrap
    flex-direction: row

  &__page-title
    +title-page($main-color)
    padding-bottom: 42px

.testimonials-content-1
  height: 100%
  background-color: $third-color2
  +padding-page
  +media($lg)
    width: 50%
    background-color: $third-color2

  .testimonials-container
    width: initial

.testimonials-content
  .footer
    width: 100% 

// пагинация отступ сверху
.testimonials-content
  height: 100%
  .pagination
    margin-top: 50px

// ========= блок с картой ==========//
.testimonials-article2
  &__wrapper // обёртка для карты
    position: relative
    padding-top: 100%
    // height: 0
    overflow: hidden
    width: 100%
    +media($lg)
      width: 50%
      padding-top: 0

  &__map // карта
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%