//-  Карточки проектов
section.projects-cards-list
  article.projects-cards-list-container
    include ../../components/_project-card.pug
    +project-card('ITALIA R.C. 70', '576', '73900')(style='background-image: url("img/projects/1-ITALIA R.C. 70.jpg")')
    +project-card('ITALIA O.M. 056', '158', '23500')(style='background-image: url("img/projects/2-ItaliaOM.jpg")')
    +project-card('ITALIA F.F.', '172', '22700')(style='background-image: url("img/projects/3-ITALIA-FF.jpg")')
    +project-card('VILLA ALHENA', '260', '34400')(style='background-image: url("img/projects/4-VILLA ALHENA.jpg")')
    +project-card('VILLA PROPUS', '190', '34400')(style='background-image: url("img/projects/5-VILLA PROPUS.jpg")')
    +project-card('ITALIA S.F.', '190', '26000')(style='background-image: url("img/projects/6-ItaliaSF.jpg")')
    +project-card('VILLA ANTARES', '268', '33350')(style='background-image: url("img/projects/7-VILLA ANTARES.jpg")')
    +project-card('VILLA SCEPTRUM', '184', '27420')(style='background-image: url("img/projects/8-VILLA SCEPTRUM.jpg")')
    +project-card('ITALIA R.C. 70', '576', '73900')(style='background-image: url("img/projects/1-ITALIA R.C. 70.jpg")')
    //- +project-card('ITALIA R.C. 70', '576', '73900')(class='photo-project-1')
    //- +project-card('ITALIA O.M. 056', '158', '23500')(class='photo-project-2')
    //- +project-card('ITALIA F.F.', '172', '22700')(class='photo-project-3')
    //- +project-card('VILLA ALHENA', '260', '34400')(class='photo-project-4')
    //- +project-card('VILLA PROPUS', '190', '34400')(class='photo-project-5')
    //- +project-card('ITALIA S.F.', '190', '26000')(class='photo-project-6')
    //- +project-card('VILLA ANTARES', '268', '33350')(class='photo-project-7')
    //- +project-card('VILLA SCEPTRUM', '184', '27420')(class='photo-project-8')
    //- +project-card('ITALIA R.C. 70', '576', '73900')(class='photo-project-1')
//- секция кнопок
section.projects-buttons
  p.projects-buttons__text1 if you want to order an individual project, please 
  include ../../components/_btn-go-to.pug
  //- переход на страницу контактов 
  +btn-go-to('Contact us', 'contacts')(class='projects-buttons__to-contact')
  p.projects-buttons__text2 or fill
  //- переход на страницу формы 
  +btn-go-to('Costomer project form', 'customer-projects')(class='projects-buttons__to-form')