extends ../../templates/_template.pug
block title
  title Frame House Manufactory - Projects

block header
  include ../../components/_header

block main
  main.projects-content
    h2.projects-content__page-title Projects
    //- блок с проектами
    include ../../pages/projects/_projects-cards-list
    //- кнопки
    //- статья
    include ../../pages/projects/_projects-article

//- подвал
block footer
  include ../../templates/_footer