// блок с красивой иллюстрацией
.customer-projects3
  position: relative
  display: none
  +media($xl)
    display: block
    width: 100 / 3 + 0%
  +media($xxl)
    width: 100 / 2 + 0%

  &__fon
    width: 100%
    position: absolute
    +pict('customer-projects/customer-projects-picture.png')
    +pict2()
    padding-top: 100%
    height: 100%