// стили секции со статьёй
.customer-projects2
  background-color: $third-color2
  +padding-page() // отступы на странице
  +media($lg)
    width: 100 / 2 + 0%
  +media($xl)
    width: 100 / 3 + 0%
  +media($xxl)
    width: 100 / 4 + 0%
  padding-bottom: 68px

// стили формы

$padding-left: 24px // в форме отступ слева
.customer-projects-form

.form
  &__text
    +font(100%, 12, 400, $main-color)
    margin-bottom: 34px
  &__title
    +font(100%, 13, 700, $main-color)
    margin-bottom: 14px

  // поле формы
  &__field
    background-color: #ffffff
    +font(59px, 18, 300, #000000)
    border:
      style: solid
      width: 1px
      color: #e9e9e9
    height: 62px
    width: 100%
    margin-bottom: 18px
    padding-left: $padding-left
    display: block

input::placeholder, textarea::placeholder
  +font(59px, 18, 300, #000000)

// выбор страны, выпадающий список
select
  cursor: pointer

.select-country-container
  display: block
  position: relative

  &::before
    content: ""
    display: block
    position: absolute
    top: 0
    right: 0
    z-index: 1
    width: 50px
    height: 100%
    pointer-events: none
    background:
      image: url(../img/icon/select-icon.svg)
      color: #ffffff
      repeat: no-repeat
      size: 22px auto
      position: right 26px top 50%
    border: 
      style: solid
      width: 1px
      color: #e9e9e9
    border-left-color: transparent
    transition: all 0.3s ease 

  &:hover::before
    background-image: url(../img/icon/select-icon-hover.svg)
    transition: all 0.3s ease 
  
// загрузка файла
.upload-file-container
  position: relative
  margin-bottom: 18px
  background:
    image: url(../img/icon/upload-icon.svg)
    position: right 24px top 50%
    repeat: no-repeat
    size: 21px
  +btn-n(auto, $second-color)
  width: 100%
  height: 62px
  transition: all 0.3s ease 
  @media screen and (min-width: 450px)  
    width: 100%
    height: 62px
  @media screen and (min-width: 850px)
    width: 100%
    height: 62px
  
  &:hover
    background-image: url(../img/icon/upload-icon-hover.svg)  
    transition: all 0.3s ease 

label[for="file"]
  display: flex
  align-items: center
  height: 100%
  cursor: pointer

.upload-file__text
  +font(18px, 13, 700, $main-color)
  text-align: left
  @media screen and (max-width: 500px)
    max-width: 82%
    padding: $padding-left
  @media screen and (min-width: 850px)
    max-width: 82%
    padding: $padding-left

.form__btn-uploab-file
  display: none

// для комментариев
.textarea
  @extend .form__field
  height: 100px
  resize: none


//  кнопка
.btn-form
  +btn-n(auto, $main-color)
    color: #ffffff
  width: 100%
  height: 62px
  @media screen and (min-width: 450px)  
    width: 100%
    height: 62px
  @media screen and (min-width: 850px)
    width: 100%
    height: 62px
    font-size: 14px
    

mark
  background-color: #ff10ff
  display: none