// стили секции со статьёй
.customer-projects1
  background-color: $main-color
  color: #fff
  +padding-page() // отступы на странице
  +media($lg)
    width: 100 / 2 + 0%
  +media($xl)
    width: 100 / 3 + 0%
  +media($xxl)
    width: 100 / 4 + 0%
  padding-bottom: 42px

// стили названия страницы
page-title_customer-projects
  +title-page(#ffffff)
  margin-bottom: 42px

// стили заголовков  
.title-paragraph
  +title-paragraph($font-color)
  text-align: left

  .upper
    text-transform: uppercase

.customer-projects1
  p, .title-paragraph
    +text-paragraph()
    color: #ffffff

.customer-projects1
  .text-paragraph--2
    color: $second-color