//- блок со  статьями
section.articles1
  h2.articles-content__page-title Articles
  .articles-container
    include ../../components/_article-card.pug
    +article-card('12.09.2017', 'Ut wisi enim ad minim veniam', 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim')(photo='Villa Alhena 260m.png')(date='2017-09-12')
    +article-card('13.10.2017', 'Duis autem vel eum iriure dolor in hendrerit', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. ')(photo='Villa Alhena 260m.png')(date='2017-10-13')
    +article-card('14.11.2017', 'Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit')(photo='Villa Alhena 260m.png')(date='2017-11-14')
    +article-card('12.09.2017', 'Ut wisi enim ad minim veniam', 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim')(photo='Villa Alhena 260m.png')(date='2017-09-12')
    +article-card('13.10.2017', 'Duis autem vel eum iriure dolor in hendrerit', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. ')(photo='Villa Alhena 260m.png')(date='2017-10-13')
    +article-card('14.11.2017', 'Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit')(photo='Villa Alhena 260m.png')(date='2017-11-14')

  //- пагинация
  include ../../components/_pagination