extends ../../templates/_template.pug
block title
  title Frame House Manufactory - Articles

block header
  include ../../components/_header

block main
  main.articles-content
    
    //- блок со статьями
    include ../../pages/articles/_articles1
    //- блок со статьями
    include ../../pages/articles/_articles2

//- подвал
block footer
  include ../../templates/_footer