//- переход на страницу всех проектов
section.go-to-all-projects.go-to-all-projects--1
  .go-to-all-projects__content(style='background-image: url("img/technology/1-project-photo.jpg")')
  a(href="contact-us.html").btn.btn-2 View all projects