//- блок с фото автора статьи
section.technology-person
  .technology-person__photo(style='background-image: url("img/technology/1-big_82911416389045-portret.png")')
  .technology-person__name Head of the Technical Department
  //- ссылка на страницу проектов не видна до 1024, появляется на 1024
  include ../../pages/Technology/_technology-go-to-projects2