//- статья на странице Technology
section.technology-article
  h2.page-title Technology
  article.technology-content
    blockquote.blockquote
      p It is grace to our technology that we can obtain high-end quality of our production – unfailingly, in each project, in each element, in each detail!
    h3.title-paragraph Everything starts with design
    p This is the most important stage. Constructor's mission is not limited to making a framework fully corresponding to all proportions of the project. His task is much broader and harder – he must plan in advance the whole process of transportation, discharge and assemblage, and divide the entire construction into parts so that you do not face a single problem at each of these stages.
    p Appropriate software renders great assistance in this work. Without proper software it would be virtually impossible to guarantee the ideal observation of all project's proportions. But which is more important, computer modelling renders possible ultimate precision of all the joints, which again makes assemblage quick and easy, and improves significantly your house's safety and reliability.
    h3.title-paragraph Constructions engineer creates a 3D model of your house corresponding to the project
    p The designer's model already contains each module of the real house located exactly where it will be in a real house. Moreover, not only all the elements, but also all the handlings of these elements are determined at the designing stage. Precise proportions and placements of all the drillings, groovings, cuttings, bird's beaks and so on are present on the electronic model of your house.<br> But of course, there would be no need in such precise and detailed engineering if we wouldn't be able to construct this in real life.
    h3.title-paragraph So what guarantees that the real product will correspond to its electronic prototype?
    p The technology, of course
    p All elements are handled by the specialised CNC machines. These machines receive all the handling instructions directly from the designer's program.<br> This enables us to produce our constructions with the precision of aeronautical instrument engineering.<br> Naturally, the quality of the final product is affected not only by programs and machinery, but also by the materials employed. <br> To obtain outstanding characteristics for our production, we use the selected northern timber.
    blockquote.blockquote
      p The timber we employ in our constructions has successfully undergone strength tests on the special equipment.
    p In our special mortise-tennon type glued joints we use the hot-melt TPU adhesive. By gluing our frameworks in special hydraulic assembling plate-press we obtain ideal geometry and durable joints which even theoretically cannot be performed while carrying out our framework's construction on a building site. By fastening these joints with screws we triply outreach building requirements, but we strongly believe that there can never be too much of safety and quality.
    p Our slabby materials are high-quality waterproof OSB with reduced contents of formaldehydes.
    p Specialised CNC board processing center cuts and perforates slabby materials with the perfect precision and geometry which is extremely important for the natural ventilation of your house.
    blockquote.blockquote
      p The timber we employ in our constructions has successfully undergone strength tests on the special equipment.
  //- ссылки на страницу контактов
  include ../../pages/Technology/_technology-go-to-contact