extends ../../templates/_template.pug
block title
  title Frame House Manufactory - Technology

block header
  include ../../components/_header

block main
  main.technology-content

    //- блок с фото автора статьи
    include ../../pages/Technology/_technology-person
    //- невидимый блок ссылка на страницу проектов не видна до 1024, появляется на 1024 technology-go-to-projects
    //- статья
    include ../../pages/Technology/_technology-article
      //- //- ссылки на страницу контактов
      //- include ../../pages/Technology/_technology-go-to-contact
    //- ссылка на страницу проектов, пропадает на 1024
    include ../../pages/Technology/_technology-go-to-projects2

//- подвал
block footer
  include ../../templates/_footer