// точка перехода для медиа-запросов 
=media($width)
  @media screen and (min-width: $width)
    @content

// для картинок "main/have-project.jpg"
=pict($pict)
  background:
    image: url("../img/#{$pict}")
    position: center
    repeat: no-repeat
    size: cover
=pict2()
  background:
    position: center
    repeat: no-repeat
    size: cover

// (style='background-image: url("img/low-energy/low-energy.png")')

=bg 
  background:
    position: center
    repeat: no-repeat
    size: cover

// паддинг глобальный
=padding-global($pad-glob...)
  padding: $pad-glob

// паддинг глобальный для страниц

=padding-page()
  +padding-global(37px 12px 50px)
  +media($md)
    +padding-global(50px 40px 70px)
  +media($lg)
    +padding-global(50px 48px 70px)

  // +padding-global(37px 12px 0)
  // +media($md)
  //   +padding-global(50px 40px 0)
  // +media($lg)
  //   +padding-global(50px 48px 0)

  // +media($xl)
  //   +padding-global(50px 48px 0 48px)
  // +media($lg)
  //   +padding-global(50px 48px 0 48px)
  // +media($lg)
  //   +padding-global(50px 48px 0 48px)

=pict-slider($pict)
  background:
    image: url("../img/testimonials/galery/#{$pict}")
    position: center
    repeat: no-repeat
    size: auto 100%

// квадратные соотношение сторон блока
=kvadrat($square)
  width: $square
  height: $square

=hor-center()
  margin: 
    left: auto
    right: auto