//- статья на странице low-energy
section.low-energy-article4
  article.low-energy-content
    h3.title-paragraph Of course, this is not the end    
    p.text-paragraph We could attain even more impressive results by using the so-called facade insulation (for example — facerock). With this 50 mm wide insulant combined with the inside insulant, the total width of thermal insulation reaches 250 mm which enhances lambda-coefficient to 0,14 w/mk. This meets passive-house requirements for such countries as France, Italy, Spain and Belgium.
    p.text-paragraph And finally, the last insulation layer could be put from inside of the framework by using parting walls of standard gypsum plasterboard (for example, 150 mm).
    p.text-paragraph This reduces insignificantly the usable area of the rooms, but instead the total width of thermal insulation exceeds 400 mm and lambda-coefficient becomes lesser than 0,1 w/mk, by this outreaching passive-house requirements for the Northern countries!
    p.text-paragraph The principal thing: you can turn our framework construction into a house which virtually brings no charges for heating, and for that you pay not more than 30-40 Euros/m<sup>2</sup> of the usable area of the house!
    
    //- ссылка на страницу контактов
    include ../../components/_btn-go-to-contact
    //- ссылка на страницу проектов
    include ../../components/_btn-go-to-projects