//- статья на странице low-energy
section.low-energy-article1
  h2.page-title Low-energy
  article.low-energy-content
    p.text-paragraph It is important, indeed!Important to such extent that we decided to make a separate menu section for it! <br>We believe that a house is as good as high is its energetic effectiveness. 
    h3.title-paragraph If you ponder deeper – what "house" really means? Architectural product, real estate, protection for you and your property.
    p.text-paragraph First of all, a house is something that makes you feel inside much better than outside. This is where you find warmth during severe wintertime and coolness in a hot summer day.
    h3.title-paragraph Of course, the main question is – how much will it cost for you?
    p.text-paragraph Modern construction technologies enable some lucky ones to say: NOTHING! <br>These people lodge in passive-houses, which virtually dispense with heating costs.
    h3.title-paragraph Will it be warm in winter, without heating? Is this like a car which goes without fuel?
    p.text-paragraph Yes, something of that sort. <br>Unbelievable! Imagine, how much that costs! <br>Oh, yes. It costs a lot.
    h3.title-paragraph But is it worth it?
    p.text-paragraph I will be fair with you – I don't know. This technology is new and nobody can assess its real effectiveness before it has proven itself in course of long decades. But for you and us everything is much simpler.  In fact, insulant itself (be it rock wool, polyurethane foam, cellulose or even reed) is quite cheap material.
    blockquote.blockquote
      p.blockquote__text Total cost of insulation for a standard passive-house with 200 square meters in area will not exceed 3000-4000 Euros.