//- статья на странице low-energy
section.low-energy-article3
  article.low-energy-content
    h2.title-paragraph So where is the rub?
    p The problem is that probably you will not be able to build a house solely from insulation — it will have zero structural strength. But you could use a technology that ensures the closest result. Of course, I am talking about wooden frame technology. In this case wooden frame provides structural strength without making cold bridges. 
    p There are many ways how to strengthen frame houses. Technologies and materials used by our company allow implementing all available possibilities. I will tell you how to turn our construction into a low-energy house or even into a house corresponding to passive-house standards, by spending minimum of money and efforts.
    p First of all, we just put insulation into the framework. As the width of our framework and, accordingly, of the insulant reaches 200 mm, it is possible to obtain lambda-coefficient of 0,17-0,19 w/mk, which already exceeds the Swiss Minergie standard (look the table).
    article.low-energy-table-block
      h4.low-energy-table__title Comparative characteristics of thermal efficiency
      table.low-energy-table
        tr
          td.col.row--top Traditional stone house (the thickness of the wall 500 mm)
          td.col.row--top 1,500
        tr
          td.col House of laminated massive timber (200 mm)
          td.col 0,800
        tr
          td.col Ordinary frame house (the thickness of frame 145 mm)
          td.col 0,240
        tr
          td.col Swiss standard Minergy
          td.col 0,200
        tr
          td.col FH House - base version
          td.col 0,170
        tr
          td.col Standard PassivHaus for central Europe
          td.col 0,140
        tr
          td.col FH House – midle insulation
          td.col 0,140
        tr
          td.col Standard PassivHaus for North Europe
          td.col 0,100
        tr
          td.col.row--bottom FH House – high level of insulation
          td.col.row--bottom 0,085