extends ../../templates/_template.pug
block title
  title Frame House Manufactory - Low Energy

block header
  include ../../components/_header

block main
  main.low-energy-content
    .low-energy-content-1
      //- блок со статьей
      include ../../pages/low-energy/_low-energy-article1
      //- блок с фоновой картинкой
      include ../../pages/low-energy/_low-energy-article2
    .low-energy-content-2
      //- блок со статьей и таблицей
      include ../../pages/low-energy/_low-energy-article3
      //- блок со статьей
      include ../../pages/low-energy/_low-energy-article4

//- подвал
block footer
  include ../../templates/_footer