.articles-content
  display: flex
  flex-direction: column
  +media($lg)
    display: flex
    flex-direction: row

  &__page-title
    +title-page($main-color)
    padding-bottom: 42px

.articles1
  // +gl0
  background-color: $third-color2 //  фон gray
  +padding-page

.articles2
  background-color: $main-color // синий фон darkblue
  +padding-page
  color: $second-color
  &__section-title
    +title-section( 21,$second-color)
    margin-top: 20px
    margin-bottom: 44px

  // изменяем цвет текста  
  .article
    &__text, &__title
      color: $second-color