//- блок текста на странице проектов
.projects-article
  // +gl0

  &__title
    // +gl1
    color: #ffffff
    font:
      weight: 600
      size: $font-size + 0px
    text:
      transform: uppercase
      align: center
    margin: auto
    margin-bottom: (34 / $font-size) + 0rem
    max-width: 846px
    
.projects-article-content
  // +gl2
  margin: auto

  max-width: 846px
  p
    +font(2.07, $font-size, $font-weight, #ffffff)
    margin-bottom: 30px