.projects-content
  +padding-page()
  background-color: $main-color
  &__page-title
    padding-bottom: 36px
    +media($md)
      padding-bottom: 68px
    +media($lg)
      padding-bottom: 63px
    +media($xxl)
      padding-bottom: 54px
    +title-page($second-color)
      +media($md)
        text-align: center