// PERFECT HOUSE PROJECTS секция проектов на странице проектов "_projects-article.sass"

.projects-cards-list

.projects-cards-list-container
  +hor-center()
  +media($md) // 600
    margin-bottom: -26px
    width: 542px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  +media($lg) // 1024
    margin-bottom: -30px
    width: 830px
  +media($xl) // 1280
    width: 1120px
    margin-bottom: -32px
  +media($xxl) 
    width: 1600px
    // width: 1120px
  +media($xxl) // 1920
    // убираем отступ снизу от карточек
    margin-bottom: -50px

.project-card
  +media($md) // 600
    margin-bottom: 26px
  +media($lg) // 1024
    margin-bottom: 30px
  +media($xl) // 1280
    margin-bottom: 32px
  +media($xxl) // 1920
    margin-bottom: 50px

  &:last-child
    margin-bottom: 0

//- секция кнопок
.projects-buttons
  // +gl0
  background-color: $main-color
  padding-top: 50px
  padding-bottom: 85px
  &__text1, &__text2
    +font(1.4, 18, 400, #ffffff)
    +hor-center()
    text-align: center
  &__text1
    margin-bottom: 43px  
  &__text2
    margin-bottom: 14px 

// стили кнопок
.projects-buttons
  &__to-contact
    +btn-n(auto, $second-color)
    background-color: #ffffff
    margin-bottom: 14px 

  &__to-form
    +btn-n(auto, $second-color)