extends ../../templates/_template.pug
block title
  title Frame House Manufactory - Ut wisi enim ad minim veniam

block header
  include ../../components/_header

block main
  main.article-content
    
    //- блок со статьей
    include ../../pages/article/_article1
    //- блок со статьями
    include ../../pages/articles/_articles2

//- подвал
block footer
  include ../../templates/_footer