//- карточка статьи

//- mixin article-card-1(date, title, text)
//-   article.article-card
//-     div.article__photo(class!=attributes.class)
//-     .article__content
//-       date.article__date #{date}
//-       h4.article__title #{title}
//-       .article__text #{text}

//- применение миксина
//- +article-card('20.11.2017', 'Ut wisi enim ad minim veniam', 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim ')(class="photo-article")

mixin article-card(date, title, text)
  article.article-card
    //- можно подставить адрес иллюстрации
    .article__container-photo(class=attributes.class1)
      img.article__photo(class=attributes.class2)(src='img/articles/'+attributes.photo)
    .article__content
      //- дата публикации
      time.article__date(datetime=attributes.date) #{date}
      //- заголовок статьи
      h4.article__title #{title}
      //- текст статьи
      .article__text #{text}

//- применение миксина
//- section.articles
//-   .articles-container
//- +article-card('12.09.2017', 'Ut wisi enim ad minim veniam', 'Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim')(photo="fvvasd.jpg")(date='2017-09-12')