//- ===== кнопка переход на страницу с возможностью присвоение класса=====//
mixin btn-go-to(text, link)
 a(class!=attributes.class href=link + '.html') #{text}
//-  применение
//- +button-go-to('NAME', 'dfg')(class='go')
//- результат
//- <a class="go" href="dfg.html">NAME</a>