//- Меню
.menu
  a.logo(href="index.html")
    img(src="img/PFH_logo.png")
  //- меню для мобильника
  button.menu-mobile

    //- иконка-бургер
    .burger-icon 
      .burger-icon__line.burger-icon__line1
      .burger-icon__line.burger-icon__line2
      .burger-icon__line.burger-icon__line3

    //- иконка закрытия мобильного меню
    .burger-icon-close
      .burger-icon__line.burger-icon__line4
      .burger-icon__line.burger-icon__line5

  //- меню для десктопа
  nav.nav
    - var list = [{hr: "index", it: 'Home'}, {hr: 'customer-projects', it: 'Customer Projects'}, {hr: 'projects', it: 'Projects'}, {hr: 'technology', it: 'Technology'}, {hr: 'low-energy', it: 'Low-Energy'}, {hr: 'transport', it: 'Transport'}, {hr: 'montage', it: 'Montage'}, {hr: 'testimonials', it: 'Testimonials'}, {hr: 'about-us', it: 'About Us'}, {hr: 'articles', it: 'Articles'}, {hr: 'contact-us', it: 'Contact Us'}]

    each item, it in list
      a.nav__item(href!= item.hr + '.html', page= item.it)