//- top
.top
  //- название фирмы
  a.top__firm(href="index.html") Prefabricated Wooden Frame Houses
  .top-contact
    //- телефон
    a.top-contact__tel(href='tel:+37122080494') (+371) 2208 04 94
    //- электронная почта
    a.top-contact__mail(href='mailto:info@prefabhom.eu') info@prefabhom.eu
  //- вход в персональный кабинет
  a.top-cabinet(href='/')
    <svg width="20" height="13" viewBox="0 0 20 13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#key"/><defs><path id="key" fill-rule="evenodd" d="M16.483 3.369v-1.667h-4.627v1.667h1.645v1.459l-5.013-.007c-.107-1.334-.762-2.765-1.59-3.622-.829-.858-1.592-1.187-2.548-1.198-.956-.011-1.886.36-2.73 1.198-.724.718-1.068 1.662-1.373 2.892-.319 1.284-.326 2.101-.032 3.391.282 1.238.695 2.185 1.405 2.92.829.858 1.774 1.222 2.73 1.233.956.011 1.703-.395 2.548-1.233.845-.838 1.324-1.918 1.577-3.369l9.311.017c.718.008.96-.625.96-1.111s-.24-1.111-.96-1.111h-2.948l-.002-1.459h1.647zm-10.202.712c0 .854-.543 1.579-1.298 1.841.755.262 1.298.987 1.298 1.841 0 1.074-.859 1.945-1.919 1.945s-1.919-.871-1.919-1.945c0-.854.543-1.579 1.298-1.841-.755-.262-1.298-.987-1.298-1.841 0-1.074.859-1.945 1.919-1.945s1.919.871 1.919 1.945z"/></defs></svg>
  //- переключение языка
  .top-lang
    a.lang.lang__en(href='index.html'  hreflang='en') en 
      <svg width="8" height="6" viewBox="0 0 8 6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#arrow-down"/><defs><path id="arrow-down" d="M1.122 1.579l2.368 3.333c.386.544 1.187.564 1.6.04l2.631-3.333c.518-.656.051-1.62-.785-1.62h-4.999c-.812 0-1.286.917-.815 1.579z"/></defs></svg>
    a.lang.lang__fr(href='index.html'  hreflang='fr') fr
    a.lang.lang__it(href='index.html' hreflang='it') it