//- кнопка переключения языка

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<style>
  .dropdown {position: relative;}
  .dropdown-menu {position: absolute; top: 100%; left: 0; z-index: 1000; display: none;}
</style>

//- <div class="dropdown">
//-   <!-- Link or button to toggle dropdown -->
//-   //- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Выпадающий список</button>
//-   <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
//-     <li><a tabindex="-1" href="#">en</a></li>
//-     <li><a tabindex="-1" href="#">fr</a></li>
//-     <li><a tabindex="-1" href="#">it</a></li>
//-     //- <li class="divider"></li>
//-     //- <li><a tabindex="-1" href="#">Доп. ссылка</a></li>
//-   </ul>
//- </div>

ul.lang
  li.dropdown
    a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") lv
    ul.dropdown-menu
      li
        a(href="/") fr
      li
        a(href="/") it


<ul class="lang">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">lv</a>
    <ul class="dropdown-menu">
      <li>
        <a href="http://www.metashop.lv/ru/glavnaya/">ru</a>
      </li>
      <li>
        <a href="http://www.metashop.lv/ee/avaleht/">ee</a>
      </li>
    </ul>
  </li>
</ul>