//- пагинация
article.pagination
  //- переход стрелкой
  a.pg-arrow.pg-arrow-l(href="#")
    <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 13.8 22" enable-background="new 0 0 13.8 22"><path class="arrleft" d="M10.4 21.4c.8.8 2 .8 2.8 0 .8-.8.8-2 0-2.8l-7.5-7.6 7.6-7.6c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-10.5 10.4 10.4 10.4z"/></svg>
  //- переход кнопкой
  a.pg-btn(href="#") previous
  div.pg__container

    - for (var x = 1; x <= 6; x++)
      a.pg(href="#")= x
    a.pg.pg--active(href="#") 7

    //- a.pg(href="#") 1
    //- a.pg(href="#") 2
    //- a.pg(href="#") 3
    //- a.pg(href="#") 4
    //- a.pg(href="#") 5
    //- a.pg(href="#") 6
    //- a.pg.pg--active(href="#") 7

  //- переход кнопкой
  a.pg-btn(href="#") next
  //- переход стрелкой
  a.pg-arrow.pg-arrow-r(href="#")
    <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 13.8 22" enable-background="new 0 0 13.8 22"><path class="arrleft" d="M10.4 21.4c.8.8 2 .8 2.8 0 .8-.8.8-2 0-2.8l-7.5-7.6 7.6-7.6c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-10.5 10.4 10.4 10.4z"/></svg>