//- карточка проекта



//- применение миксина
//- +project-card('ITALIA R.C. 70', 576, 73900)(class="photo-project")


//- mixin styles(...files)
//- 	each file in files
//- 		link(rel="stylesheet", href=file)


mixin project-card(name, area, cost)
  article.project-card
    div.project__photo(style!=attributes.style)
    .project__footer
      span.project__name #{name}
      span.project__data #{area} m<sup>2</sup> / 
        span.project__cost #{cost}  €

//- применение миксина
//- +project-card('ITALIA R.C. 70', 576, 73900)(style="photo-project")