//- блок с публикацией
section.article1
  article.publication()
    //- заголовок публикации
    h4.publication__title #{title} Ut wisi enim ad minim veniam
    img.publication__photo1
    //- дата публикации
    time.article__date(datetime=attributes.date) #{date}
    //- введение в публикацию
    p.publication__introduction #{intro}
    //- текст статьи
    .publication__text #{text1}
    .publication__cut-in #{text1}
    .publication__text #{text2}

  //- пагинация
  include ../../components/_pagination