//- ========= Слайдер фотографий публикации отзыва ==========
.slider-container
  //- Стрелка Слайдера публикации отзыва
  .slider-arrow-container.slider-arrow-container--left
    .slider-arrow-container__box.slider-arrow-container__box--left
      //- span.slider-arrow.arrow--left
      //- <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 13.8 22" enable-background="new 0 0 13.8 22"><style type="text/css">.arrleft{fill:#E5CEA9; }</style><path class="arrleft" d="M10.4 21.4c.8.8 2 .8 2.8 0 .8-.8.8-2 0-2.8l-7.5-7.6 7.6-7.6c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-10.5 10.4 10.4 10.4z"/></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 13.8 22" enable-background="new 0 0 13.8 22"><path class="arrleft" d="M10.4 21.4c.8.8 2 .8 2.8 0 .8-.8.8-2 0-2.8l-7.5-7.6 7.6-7.6c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-10.5 10.4 10.4 10.4z"/></svg>
  .slider-content
    //- .slider__pict.slider__pict--1
    //- .slider__pict.slider__pict--2 
    //- .slider__pict.slider__pict--3 
    //- .slider__pict.slider__pict--4 
    //- .slider__pict.slider__pict--5
    img.slider__pict.slider__pict--1(height="100%" src="img/testimonials/galery/1-big_24291422012155.png")
    img.slider__pict.slider__pict--2(height="100%" src="img/testimonials/galery/2-big_39551422012159.jpg") 
    img.slider__pict.slider__pict--3(height="100%" src="img/testimonials/galery/3-big_64911422012156.jpg") 
    img.slider__pict.slider__pict--4(height="100%" src="img/testimonials/galery/4-big_64911422012156.jpg") 
    img.slider__pict.slider__pict--5(height="100%" src="img/testimonials/galery/5-big_90841422012159.jpg")
  //- Стрелка Слайдера публикации отзыва
  .slider-arrow-container.slider-arrow-container--right
    .slider-arrow-container__box.slider-arrow-container__box--right
      //- span.slider-arrow.arrow--right
      <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 13.8 22" enable-background="new 0 0 13.8 22"><path class="arrleft" d="M10.4 21.4c.8.8 2 .8 2.8 0 .8-.8.8-2 0-2.8l-7.5-7.6 7.6-7.6c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-10.5 10.4 10.4 10.4z"/></svg>