//- только отзывы
.testimonials-container
  .testimonials-container__content
    //- Дата публикации и фото клиента
    .testimonials__client
      .testimonials__client-date
        time(datetime="2017-05-24") 28 May 2017
      .testimonials__client-photo(style='background-image: url("img/testimonials/clients/246645f225baabc89b3cca093d669a25.png")')
    //- Шапка публикации отзыва клиента
    header.testimonials__header
      h3.testimonials__title Mireille Trebitsch Livraison de la maison en février 2017
      span.testimonials__place la région Provence-Alpes-Côte d'Azur
    //- Содержание публикации отзыва клиента
    .testimonials__text
      p.  
        "Les étapes de la construction:
      p.
        Étant donné la forme de la maison, un temps de réglage entre les plans et les contraintes techniques, a été nécessaire. Lyudmila a été une très bonne intermédiaire pour cela entre autre. Ces détails fignolés, tout s'est passé comme indiqué. La maison est arrivée sans encombre en deux semi-remorques que nous avons transféré sur un camion plus petit, car le chemin d'accès ne leur permettait pas d'y passer. 6 jours de montage pour 130m² environ avec 3 hommes dont le grutier.
      p.
        La bonne préparation et tous les documents techniques joints ont permis un montage sans problème. La mise en place de la toiture en bacacier, et le montage des portes et fenêtres ont suivi. Puis le bardage pour la partie du rez de chaussée, enfin le crépi pour l'étage est en cours. Pendant ce temps les travaux intérieurs se font à leur rythme il s'agit pour une grande partie d'auto-construction. Au final, je suis très contente du résultat, la maison est à ce jour hors d'eau, hors d'airet correspond exactement à ce que je souhaitais".
    .read-all read-all  

  //- слайдер
  include _slider.pug 



  //- //- открывает всю публикацию
  //- //- button(type="button")
  //- a.read-all read all