// секция "have-you"
.have-you
  // +media($lg) // 1024
  @media screen and (min-width: 850px)
    display: flex
    flex-direction: row
    flex-wrap: nowrap

// у вас есть проект
.have-you-project
  // +gl0
  height: 99.5vw
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @media screen and (min-width: 850px)
    // +media($lg)
    height: 99.5 / 2 + 0vw
    padding-left: 46px
    flex-direction: row
    align-items: center
    justify-content: flex-start

  +media($xl) 
    padding-left: 94px
  +media($xxl)
    padding-left: 134px

  // "Have a project?"
  &__yes 
    // +pict("main/have-project.jpg")
    +pict2()

  // "Have not a project?"
  &__not 
    position: relative
    +pict("main/have-not-project.jpg")
    +pict2()
    

// TODO: FIXME: исправить блок
.promo
  // +gl1
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @media screen and (min-width: 850px)
    align-items: flex-start
.title-promo
  // +gl2
  +font(1rem, 21, 600, $font-color)
  line-height: 0.82
  margin-bottom: 26px
  +media($lg) // 1024
    margin-bottom: 30px
    font-size: 36px
    line-height: 1em
  &--2
    color: #fff

//  стиль синей кнопки
.btn-1
  +btn-1

// стиль жёлтой кнопки
.btn-2
  +btn-2

.btn
  // +gl1
.promo
  .btn
  .btn-1section
    // размер шрифта, падинг по горизонтали
    +btn()
    margin:
      top: 0
      bottom: 0
    @media screen and (min-width: 850px)
      padding:
        left: 0
        right: 0
      // убираем центровку кнопки
      margin: 0
      width: 232px


// ========== from 148 €/m²
.sticker
  position: absolute
  right: 4.9vw
  bottom: 3.7vw
  width: 52px
  height: 52px
  display: block
  border-radius: 50%
  background-color: #fff
  display: flex
  text-align: center
  //  расстояния от стикера до края секции
  +media($md)
    width: 95px
    height: 95px

  &__text
    color: $color-yellow-norm
    font:
      weight: 600
      size: (10 / 14) + 0rem
      style: italic
    margin: auto
    padding-bottom: 2px
    line-height: 1.2

    +media($md)
      $fs: 16
      font-size: ($fs / 14) + 0rem
      padding-bottom: 2px
      line-height: 22 / $fs
      letter-spacing: 1%
