// секция Read about low-energy
.main-low-energy
  // блок заголовка и кнопки
  // +gl0
  width: 100%
  height: 100vh
  +pict("low-energy/low-energy.png")
  +pict2()
  +padding-global(25vh 0)
  +media($md)
    +padding-global(30vh 0)
  +media($lg)
    // +pict("low-energy/low-energy.png")
    +pict2()
    +padding-global(30vh 46px)
  +media($xl) // 1024
    +padding-global(30vh 134px)

  &__promo
    margin:
      left: auto
      right: auto
    +media($lg)
      display: flex
      flex-direction: column
      align-items: flex-start
      margin:
        left: 0
        right: 0

.low-title
  // +gl2
  +font(1.2, 21, 600, $font-color)
  margin-bottom: 26px
  text-align: center
  max-width: 292px
  margin:
    right: auto
    left: auto
  +media($md) // 1024
    +font(normal, 24, 600, $font-color)
    min-width: 496px
    margin-bottom: 30p
  +media($lg)
    max-width: 715px
    text-align: left
    margin:
      right: 0
      left: 0
    +font(2, 36, 600, $font-color)


.btn-low-energy-section
  +btn
  width: 300px
  +hor-center
  +media($lg)
    width: 277px
    margin: 0
