//- блок какого-то текста на главной странице
.main-some-text
  // +gl0
  background-color: #393648
  +padding-global(97px 30px 90px)
  +media($md) // 600
    +padding-global(157px 26px 163px)
  +media($lg) // 1024
    +padding-global(186px 90px 218px)
  +media($xl) // 1280
    +padding-global(186px 215px 218px)

  &__title
    // +gl1
    color: #ffffff
    font:
      weight: 600
      size: $font-size + 0px

    text:
      transform: uppercase
      align: center
    margin: auto

    margin-bottom: (34 / $font-size) + 0rem
    max-width: 846px
.main-some-text
  p
    // +gl2
    margin: auto
    max-width: 846px
    +font(2.07, $font-size, $font-weight, #ffffff)



