// PERFECT HOUSE PROJECTS секция проектов на главной странице
.main-projects
  background-color: $main-color
  +padding-global(40px 12px 60px)
  +media($md) // 600
    +padding-global(42px 26px 64px)
  +media($lg) // 1024
    +padding-global(68px 46px 70px)
  +media($xl) // 1280
    // height: 90vh
    +padding-global(68px 80px 83px)
  +media($xxl)
    +padding-global(68px 87px 83px)

.main-projects
  .title-section
    +title-page($second-color)
      text-align: center
    margin-bottom: 42px
    +hor-center()
    +media($lg) // 1024
      // +title-section($second-color)
      margin-bottom: 63px

.main-projects-container
  +hor-center()
  margin-bottom: 60px
  +media($md) // 600
    // width: 542px
  +media($lg) // 1024
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 932px
  +media($xl)
    width: 1120px
  +media($xxl)
    width: 1600px

.main-projects
  .project-card
    +media($md)
      height: calc(100vw / 1.43)
      width: 100%
      margin-bottom: 26px
    +media($lg)
      margin-bottom: 30px

      width: 450px
      height: 316px
    +media($xl)
      margin-bottom: 32px
      width: 256px
      height: 180px
    +media($xxl) // 1920
      margin-bottom: 50px
    &:last-child
      margin-bottom: 0

.main-projects
  .btn
    +btn()
    width: 296px
    +hor-center()

    +media($md)
      +hor-center()
      width: 232px

    +media($lg)
      letter-spacing: 0.5px
      +hor-center()
