//========секция testimonials Отзывы=======//
.main-testimonials
  // +pict("testimonials/map-600.jpg")
  
  +pict2()
  +padding-global(96px 12px 60px)
  +media($md) // 600
    +padding-global(96px 36px 60px)
  +media($lg) // 1024
    +padding-global(96px 78px 60px)
  +media($xl) // 1280
    +padding-global(147px 204px 134px)

  .title-section
    +title-page(#ffffff)
      text-align: center
    margin-bottom: 42px
    +hor-center()
    +media($lg) // 1024
      // +title-section($second-color)
      margin-bottom: 63px


.testimonials-container
  // +gl0
  // position: relative
  // background-color: #ffffff
  // +padding-global(34px 26px 215px)
  // +media($lg)
  //   +padding-global(48px 41px)
  //   +hor-center()
  // +media($lg) // 1024
  //   width: 870px

  &__content
  // +gl1
  // +padding-global(56px 21px 38px)

.testimonials
  &__header
    // margin-bottom: 24px
  //==========данные клиента=============//
  // &__client
  //   position: absolute
  //   right: 9px
  //   top: -44px
  //   display: flex
  //   align-items: center
  //   +media($md)
  //     right: 30px
  //   +media($lg)
  //     right: 55px
  // дата публикации 
  // &__client-date
  //   +font(1, 14, 700, $second-color)
  //   margin-right: 7px
  //   margin-bottom: 17px
  // &__client-photo
  //   background-color: #ffffff
    // +pict("testimonials/clients/246645f225baabc89b3cca093d669a25.png")
    // +pict2()
    // width: 82px
    // height: 82px
    // border:
    //   radius: 50%
    //   color: #F2F2F2
    //   width: 5px
    //   style: solid

  // заголовок отзыва
  // &__title
  //   +font(1.35, 18, 700, $font-color)
  //   margin-bottom: 10px
  // место из которого пришел отзыв
  // &__place
  //   +font(1, $font-size, 700, $second-color2)
  //   margin-bottom: 12px
  //   &::before
  //     content: ""
  //     display: inline-block
  //     +pict("icon/place.svg") // иконка
  //     +pict2()
  //     width: 13px
  //     height: 20px
  //     margin-right: 13px

  // текст отзыва
  // &__text
  //   +font(1.9, $font-size, 400, $font-color)
  //   height: 19 + 0em
  //   overflow-y: hidden
  //   text-overflow: ellipsis

    // p + p // отступы между параграфами
    //   // +gl2
    //   padding-bottom: 1.8rem
    //   &:last-child
    //     padding-bottom: 0

// «читать всё» ссылка-кнопка - показывает весь текст
.btn--read-all
  width: 232px
  margin-top: 36px
// в виде ссылки
.read-all
  // +gl3
  +font(1.4, $font-size, 400, $second-color2)
  position: relative
  text-decoration: underline
  display: block
  // float: right
  padding: 
    top: 6px
    bottom: 10px
    left: 10px
  text-align: right
  margin-top: 10px
  cursor: pointer
  top: -1em

  &:hover
    color: $second-color
    transition: all 0.2s ease
  &:active
    color: $second-color2
    transition: all 0.2s ease
    text-decoration: none

// .main-testimonials
//   .btn-testimonials-section
//     +hor-center()
//     +btn()
//     margin-top: 60px
