.contacts-content
  display: flex
  flex-direction: column
  align-items: stretch
  +media($xl)
    flex-direction: row

.contacts1-2
  display: flex
  flex-direction: column
  +media($xl)
    width: 50%
  .contacts2
    width: 100%
.contacts3 // form
  +media($xl)
    width: 50%