//  контакты на странице Contacts
.contacts1
  background-color: $main-color
  +padding-page() // отступы на странице
  padding-bottom: 77px

// стили названия страницы
.contacts1
  .page-title
    +title-page(#ffffff)
    margin-bottom: 60px

.contacts1
  p
    +text-paragraph()
    color: #ffffff
    margin-bottom: 56px

.contacts1
  &__contact1
    +font(100%, 14, 400, #ffffff)
    margin-bottom: 8px
  &__contact2
    +font(100%, 24, 400, #ffffff)
    margin-bottom: 20px

// ========= блок с картой ==========//
.contacts2
  &__wrapper
    // обёртка для карты
    flex-grow: 1
    position: relative
    padding-top: 75%
    // height: 0
    overflow: hidden
    width: 100%
    +media($lg)
      width: 50%
      padding-top: 40%

  &__map // карта
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
