//- форма на странице contacts
.contacts3
  background-color: $third-color2
  +padding-page()
  // отступы на странице
  padding-top: 77px
  padding-bottom: 60px
  &__title
    +font(100%, 24, 700, $main-color)
  p
    +text-paragraph()
    margin-bottom: 40px

.contacts3-form__title
  +font(150%, 14, 700, $main-color)
  margin-bottom: 24px

.contacts-form__block
  +media($lg)
    display: flex
  +media($xl)
    flex-direction: column
  +media($xxl)
    flex-direction: row

.contacts-form__block1, .contacts-form__block2
  +media($lg)
    width: 50%
  +media($xl)
    width: 400px
  +media($xxl)
    width: 50%

.contacts-form__block1
  +media($lg)
    padding-right: 17px
  +media($xl)
    padding-right: 0
  +media($xxl)
    padding-right: 17px

.contacts-form__block2
  +media($lg)
    padding-left: 17px
  +media($xl)
    padding-left: 0
  +media($xxl)
    padding-left: 17px

input[name="yourmanager"]
  margin-bottom: 20px

// переключатель-чекер да-нет
.switcher
  margin-bottom: 38px
  padding-left: 24px
  margin-top: 34px

  display: flex
  flex-direction: column
  +media($md)
    flex-direction: row
    align-items: center

  &__text
    margin-bottom: 12px
    +font(100%, 18, 300, $main-color)
    +media($md)
      margin-bottom: 0
      margin-right: 23px

// toggle переключатель
.switch
  width: 74px
  height: 32px
  background-color: #E1E1E1
  box-shadow: inset 0px 0px 4px #D4D4D4
  border-radius: 20px
  position: relative
  display: block
  padding: 1px
  cursor: pointer
  box-sizing: content-box

.switch-input
  position: absolute
  top: 0
  left: 0
  opacity: 0
  box-sizing: content-box

.switch-label
  position: relative
  display: block
  height: inherit
  font-size: 15px
  // background: #ffffff
  border-radius: inherit
  box-sizing: content-box

// текст в переключателе
.switch-label:before, .switch-label:after
  position: absolute
  top: 50%
  margin-top: -.5em
  line-height: 1
  transition: inherit
  box-sizing: content-box

// data-off="No"
.switch-label:before
  content: attr(data-off)
  right: 11px
  color: #817E8C

// data-on="Yes"
.switch-label:after
  content: attr(data-on)
  left: 11px
  color: #817E8C
  opacity: 0

// изменение текста при клике
.switch-input:checked ~ .switch-label:before
  opacity: 0

.switch-input:checked ~ .switch-label:after
  opacity: 1

// рычажок переключателя-чекера
.switch-handle
  position: absolute
  top: 2px
  left: 2px
  width: 30px
  height: 30px
  border-radius: 100%
  background-color: #ffffff

// смещение рычажка переключателя-чекера
.switch-input:checked ~ .switch-handle
  left: 45px

// Transition
.switch-label, .switch-handle
  transition: All 0.3s ease

// поле для заполнения отзыва
.textarea[name="feedback"]
  height: 185px