//- //-  верстка на таблице
//- footer.footer
//-   .copy-right &copy; 2017 
//-     a(href="prefabhome.eu") prefabhome.eu
//-   .fb-block
//-     .fb-block__container
//-       span.fb-block__text Follow us on
//-       a.fb-block__link(href="htpp://www.facebook.com")
//-           img(src="img/icon/facebook-button.svg" width="82" alt="Facebook")
//-   .free-space

//-  верстка на flexbox
footer.footer
  .copy-right &copy; 2017 
    a(href="prefabhome.eu") prefabhome.eu
  .fb-block
    //- .fb-block__container
    span.fb-block__text Follow us on
    a.fb-block__link(href="htpp://www.facebook.com")
        img(src="img/icon/facebook-button.svg" width="82" alt="Facebook")