doctype
html(lang="en")
  //- ссылка на файл стилей
  block style-link
  //- вставляем head
  include ../base/_head
  //- вставляем body
  body
    .main-container
      block header
      block main
      block footer