
<section class="technology-person">
  <div class="technology-person__photo" style="background-image: url(&quot;img/technology/1-big_82911416389045-portret.png&quot;);"></div>
  <div class="technology-person__name">Head of the Technical Department</div>
  <section class="go-to-all-projects go-to-all-projects--2">
    <div class="go-to-all-projects__content" style="background-image: url(&quot;img/technology/1-project-photo.jpg&quot;);"><a class="btn btn-2" href="contact-us.html">View all projects</a></div>
  </section>
</section>