// ========== layout ========//
.main-container
  display: flex
  flex-direction: column

.transport-content
  flex-grow: 1

  display: flex
  flex-direction: column
  +media($lg)
    flex-wrap: wrap
    flex-direction: row

.transport-content-1
  +media($lg)
    width: 50%
    background-color: $third-color2

.transport-content
  .footer
    width: 100% 

// ========= блок с картой ==========//
.transport-article2
  // обёртка для карты
  &__wrapper
    position: relative
    padding-top: 100%
    overflow: hidden
    width: 100%
    +media($lg)
      width: 50%

  // карта
  &__map 
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%

// ======== блок с текстом и кнопкой ==========//
.transport-article1
  background-color: $third-color2
  +padding-page() // отступы на странице
  +media($lg) // 600
    // width: 50%
  &__content

.page-title
  +title-page($font-color)
  margin-bottom: 42px

// стили заголовков  
.title-paragraph
  +title-paragraph($font-color)
  text-align: left
  +media($md)
    +title-paragraph($font-color) // название параграфа по середине

.transport-article1__content
  p
    +text-paragraph

// p + .blockquote
//   margin-top: 29px

.transport-article1
  .go-to-all-contact
    margin-top: 60px

.go-to-all-contact
  .btn
    +btn-n(auto, $second-color)
    width: initial
    height: initial
    width: 100%
    @media screen and (min-width: 450px)
      max-width: 232px