//- rfhnf на странице transport
<iframe class="transport-article2__map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8703.912831293095!2d24.10630320960692!3d56.94917463194704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2slv!4v1511345321924" width="560" height="349" frameborder="0" style="border:0" allowfullscreen></iframe>