//- статья на странице transport
article.transport-article1
  h2.page-title Transport
  .transport-article1__content
    blockquote.blockquote
      p Imagine how rapidly the modern world changes! Borders between countries disappear. You can go from Paris to Riga faster than from one end of Paris to another, and the price for such voyage will not be much higher. The same refers to cargo transport.
    p This fact, as well as stiff competition among the cargo companies (local and foreign, especially from the EU newcomer countries like Poland, Bulgaria and Hungary), allows paying low charges on the route from Riga to Europe, frequently even lower than inside the country. <br>Yes, there is no surprise if transportation charges from Paris to Nantes turn up to be higher than to Riga.
    p Apart from standard transport, the special service is also available. It allows delivering structural items of height more than 3,5 meters directly to the building site. <br>Of course, if you wish, we will find the transport and solve all the problems associated with the delivery directly to your project site.
    p You see that to receive a framework from us isn't harder and probably isn't much more expensive than to order it from a producer which bases in your country or even in a nearby city.
    //- ссылка на страницу контактов
    include ../../components/_btn-go-to-contact