extends ../../templates/_template.pug
block title
  title Frame House Manufactory - Transport

block header
  include ../../components/_header

block main
  main.transport-content
    section.transport-content-1
      //- блок со статьей
      include ../../pages/transport/_transport-article1
    section.transport-content-2.transport-article2__wrapper
      //- блок со картой
      include ../../pages/transport/_transport-article2

    //- //- подвал
    //- block footer
    include ../../templates/_footer