html
  font:
    family: $font-family
    size: $font-size + 0px
    weight: $font-weight
  line-height: $line-height
  color: $font-color

.main-container
  // height: 100%
  display: flex
  flex-direction: column

main
  flex-grow: 1 // распираем содержание по вертикали

// отступы между параграфом и врезкой
// p + .blockquote
//   margin-top: 29px