// основной фонт
$font-family: 'Open Sans', sans-serif

// основной фонт цвет
$font-color: $main-color

// основной фонт - размер
$font-size: 14

// основной фонт - межстрочное расстояние
$line-height: 1.35

// основной фонт - вес
$font-weight: 400
// light 300
// regular 400
// semi-bold 600
// bold 700

// основной фонт
=font($line-height, $font-size, $font-weight, $font-color)
  color: $font-color
  line-height: $line-height
  font:
    size: $font-size + 0px
    weight: $font-weight
  @content

// фонт для текстовых заголовков
=font-title($line-height, $font-size, $let-sp)
  font:
    weight: 700 // bold font
    size: $font-size + 0px
  line-height: $line-height
  letter-spacing: $let-sp
  text:
    transform: uppercase
    align: center
  margin: auto
  @content

// .text-paragraph
//   +font(100%, $font-size, $font-weight, $font-color)

//стили для названия секции
=title-section($font-title, $font-color)
  font:
    size: ($font-title / $font-size) + 0rem
    weight: 600
  line-height: normal 
  text-align: center
  color: $font-color
  text-transform: uppercase
  +media($md)
    text-align: left
  // +media($lg)
  //   text-align: left
  // +media($xl)
  //   text-align: left
  // +media($xxl)
  //   text-align: left

// стили для заголовков параграфов
=title-paragraph($font-color)
  font:
    weight: 600
    size: $font-size + 0px
  line-height: 2.07
  text-align: center
  margin: auto
  color: $font-color
  margin-top: 30px
  +media($md)
    text-align: left
    margin:
      left: 0

// стили для текста параграфа
=text-paragraph()
  +font(2.07, $font-size, $font-weight, $font-color)
  margin-top: 30px
  @content


// стили для названия страницы
=title-page($font-color)
  font:
    size: (21 / $font-size) + 0rem
    weight: 600
  line-height: normal
  text-align: center
  color: $font-color
  text-transform: uppercase
  letter-spacing: 0.04em
  @content
  +media($md)
    text-align: left
    font-size: (36 / $font-size) + 0rem
    @content

// стили для текста врезки
=font-bq()
  +font(2.07, 16, 600, $second-color2)
  font-style: italic
  letter-spacing: 0.16px