

.productSlider
  //padding: 40px
  background-color: #fff
  border: 1px solid rgba($color-gray, 0.7)
  &__body
    height: auto
    margin: 0
    padding: 0
    +media($md)
      padding: 20px 0

    +media($xxl)
      padding: 40px 0
  &__slide
    outline: none !important
    height: auto
    padding: 0
    +media($md)
      padding: 0 20px
    +media($xxl)
      padding: 0 40px

  &__arrow
    z-index: 200
    &-right
      right: -25px !important
    &-left
      left: -25px !important