
.productType
  padding: 40px
  background-color: $color-gray-light
  &__image
    margin-bottom: 30px
    img
      width: 100%
  &__nameContainer
    margin-bottom: 15px
  &__name
    text-transform: uppercase
    font-size: 18px
    display: inline-block
    margin-right: 20px
    +media($md)
      font-size: 22px
  &__price
    color: $color-yellow-norm
    font-weight: bold
  &__priceLabel
    color: $color-yellow-norm
  &__text
    font-size: 0.9rem
    line-height: 1.4rem
    h3
      margin-top: 30px
      margin-bottom: 10px
      text-transform: uppercase
    ul
      padding-left: 20px
  &__action
    padding: 60px 0 0
    .btn
      +btn
  &-dark
    color: #fff
    background-color: $deep-blue
    .productType
      &__name
        color: $color-yellow-light
  &-orange
    background-color: $color-yellow-norm
    .productType
      &__price
        color: $deep-blue
      &__priceLabel
        color: $deep-blue