
.productHead
  background-color: $color-gray-light
  display: block
  align-items: stretch
  +media($lg)
    display: flex

  &__description
    overflow: hidden
    padding: 40px 25px
    padding-bottom: 0
    width: 100%
    order: 1
    +media($md)
      padding: 40px
      padding-bottom: 0
    +media($lg)
      width: 40%
      min-width: 500px
  &__name
    margin-bottom: 30px
    text-transform: uppercase
    font-size: 1.5rem
    +media($md)
      font-size: 2.5714285714rem
  &__nameImpact
    font-weight: 600
  &__shortDescr
    margin-bottom: 30px
    width: 100%
    padding-left: 6px
    font-weight: bold
    > div
      padding-left: 31px
      position: relative
      +font-bq()
      border-left:
        color: $second-color2
        width: 10px
        style: solid
  &__descrInfo
    font-weight: normal
  &__slider
    margin-bottom: 30px
  &__typesLabel
    font-size: 18px
    font-weight: bold
    +media($md)
      font-size: 22px
  &__image
    flex-grow: 1
    flex-shrink: 1
    order: 2
    background-position: center
    background-size: cover
    padding-bottom: 66.66666667%
    width: 100%
    +media($lg)
      padding-bottom: 0
