//- переход на страницу контактов "Contact us"
.go-to-contact-us
.btn
  margin:
    top: 60px
    bottom: 50px

//- переход на страницу всех проектов
.go-to-all-projects

  &__content
    position: relative
    +pict('technology/1-project-photo.jpg')
    +pict2()
    width: 100%
    height: 75vw
    display: flex
    justify-content: center
    align-items: flex-end
    padding-bottom: 18%

// стили кнопок
.btn-1
  // синяя кнопка
  +btn-1
.btn-2
  // желтая кнопка
  +btn-2
