// стили секции со статьёй
.low-energy-article1
  background-color: $third-color2
  // отступы на странице
  +padding-page() 
  +media($lg)
    width: 50%

.low-energy-article1
  padding-bottom: 70px

// стили названия страницы
.page-title
  +title-page($main-color)
  margin-bottom: 42px

// стили заголовков
.title-paragraph
  +title-paragraph($main-color)
  text-align: left


// p + .blockquote
//   margin-top: 29px

@import ../../components/blockquote