// блок с красивой илюстрацией
.low-energy-article2
  position: relative
  width: 50%
  &__fon
    width: 100%
    position: absolute
    // +pict('low-energy/low-energy.png')
    +pict2()
    padding-top: 100%
    height: 100%
    display: none
    +media($lg)
      display: block