.low-energy-article4
  background-color: $third-color2
  // отступы на странице
  +padding-page()
  +media($lg)
    width: 50%

.low-energy-article4
  padding-bottom: 70px
// стили названия страницы
.page-title
  +title-page($font-color)
  margin-bottom: 42px

// стили заголовков
.title-paragraph
  +title-paragraph($font-color)
  text-align: left
  +media($md)
    // название параграфа по середине
    +title-paragraph($font-color)

.low-energy-article4
  p
    +text-paragraph

// p + .blockquote
//   margin-top: 29px

.low-energy-article4
  .go-to-all-contact
    margin-top: 60px
    margin-bottom: 30px

.go-to-all-contact
  .btn
    +btn
    margin: auto
    width: initial
    height: initial
    width: 100%
    @media screen and (min-width: 450px)
      max-width: 232px

.go-to-all-projects
  // width: 100%
  // width: initial
  height: initial
.low-energy-content, .go-to-all-projects
  .btn
    +btn
    margin: auto
    @media screen and (min-width: 450px)
      max-width: 232px

.low-energy-article4
  .go-to-all-contact
    .btn-1
      +btn-1
.btn-2
  +btn-2