.low-energy-content
  // height: 100%
  display: flex
  flex-direction: column
.low-energy-content-1
  +media($lg)
    display: flex
    flex-wrap: wrap
.low-energy-content-2
  +media($lg)
    display: flex
    flex-wrap: wrap