.low-energy-article3
  background-color: $main-color
  // отступы на странице
  +padding-page() 
  +media($lg)
    width: 50%

.low-energy-article3
  padding-bottom: 70px

// меняем цвет текста на желтый
.low-energy-article3
  .title-paragraph, .low-energy-content, .low-energy-table-block
    color: $second-color

// стили заголовков  
.title-paragraph
  +title-paragraph($second-color)
  text-align: left
  +media($md)
    // название параграфа по середине
    +title-paragraph($second-color) 

    

.low-energy-table-block

.low-energy-table
  &__title
    +font-title(150%, $font-size, 2.1px)
    text-align: left
    margin: 0
    padding-bottom: 36px
    +media($md)
      +font-title(150%, $font-size, 2.1px) 
      text-align: center
      margin: auto
      padding-top: 50px  
      padding-bottom: 20px

// стили таблицы
.low-energy-table
  // width: 100%
  max-width: 548px
  +hor-center()
  border-collapse: collapse
  border: 1px solid $second-color
  +padding-global(4px 0 4px)
.low-energy-table
  .col
    +font(2.07, $font-size, 700, $second-color)
    +padding-global(4px 0 4px 8px)
.low-energy-table
  .col + .col
    min-width: 84px
    text-align: center
    +padding-global(4px 0 4px)
    vertical-align: bottom
.low-energy-table
  .row--top
    padding-top: 23px
.low-energy-table
  .row--bottom
    padding-bottom: 22px