.about-us-content
  // height: 100%
  display: flex
  flex-direction: column
  align-items: stretch

  +media($lg)
    flex-direction: row

// фото автора
.about-us-person
  background-color: $main-color
  //height: 100vw
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 20px 0
  +media($lg)
    //height: 100%
    width: 50%
    order: 1
    padding-top: 220px
    justify-content: flex-start
  +media($xl)
    padding-top: 0
    justify-content: center    

  &__photo
    border-radius: 50%
    height: 120px
    width: 120px
    margin-bottom: 17px
    +pict('about-us/Maria_Zalite-1.png')
    +pict2()
    +media($md)
      +kvadrat(252px)
      margin-bottom: 28px
    +media($lg)
      +kvadrat(210px)
      margin-bottom: 22px
    +media($xl)
      +pict('about-us/Maria_Zalite-2.png')
      +pict2()
      +kvadrat(312px)
      margin-bottom: 26px
    +media($xxl)
      +kvadrat(490px)
      margin-bottom: 30px 
  &__name
    text-align: center
    max-width: 90%
    +font(100%, $font-size, 600, #ffffff)
    +media($md)

// статья
.about-us-article
  background-color: $third-color2
  +padding-page() // отступы на странице
  +media($lg) // 1024
    width: 50%
  &__content
    // p.text-paragraph 
    p
      +text-paragraph()
        

// стили названия страницы
.page-title
  +title-page($font-color)
  margin-bottom: 42px

// стили заголовков  
.title-paragraph
  +title-paragraph($font-color)
  text-align: left

// p + .blockquote
//   margin-top: 29px

.about-us-article
  .btn
    margin-top: 60px
    +btn-2

@import ../../components/blockquote